{
    "openapi": "3.0.0",
    "info": {
      "description": "# Introduction  \nBefore starting your integration, you must request a Converge demo account from Elavon’s Software Technical Support or Internet Product Support Group. The demo account provides the environment for integration development, certification, and future user acceptance testing (UAT).  \n\nTo request a Converge demo account, contact Elavon Internet Product Support Group.  \n\nPhone: 1-800-377-3962 | Option 2 | Option 2\n\n# Authentication\n\nThe Converge API uses no auth as an authentication method. Your credentials are sent in the request body using content type x-www-form-urlencoded.  \n\nYour Converge credentials include: \n- Account ID (ssl_account_id)\n- User ID (ssl_user_id) \n- Converge PIN (ssl_pin)  \n\nYour credentials must be kept secure! Elavon strongly recommends passing and storing Converge credentials through server-side code instead of client-side code. Always submit data to Converge through Hyper Text Transfer Protocol Secure (HTTPS) using the POST method.\n",
      "version": "1.0.0",
      "title": "Converge",
      "termsOfService": "https://developer.elavon.com/terms-and-conditions",
      "contact": {
        "name": "API Support",
        "email": "#SEDevPortalSupport@elavon.com"
      }
    },
    "tags": [
      {
        "name": "Request Session Token",
        "description": "**A session token is required for:** \n- [Hosted Payment Page](/products/hosted-payment-page/v1/take-a-payment) \n- [Lightbox](/products/lightbox-payment-modal/v1/take-a-payment)  \n- [Checkout.js](/products/checkout-js/v1/take-a-payment)   \n\nA session token is a unique identifier that is generated and used to manage user sessions and maintain stateful communication between client and server. \n"
      },
      {
        "name": "Redirect to Payment Page",
        "description": "Your credentials must be kept secure! Elavon strongly recommends passing and storing Converge credentials through server-side code instead of client-side code. See HTML and PHP request samples.  Always submit data to Converge through Hyper Text Transfer Protocol Secure (HTTPS) using the POST method.\n"
      },
      {
        "name": "Show Lightbox Modal",
        "description": "Your credentials must be kept secure! Elavon strongly recommends passing and storing Converge credentials through server-side code instead of client-side code. See HTML and PHP request samples.  Always submit data to Converge through Hyper Text Transfer Protocol Secure (HTTPS) using the POST method.\n"
      },
      {
        "name": "Checkout.js Transaction Request",
        "description": "Your credentials must be kept secure! Elavon strongly recommends passing and storing Converge credentials through server-side code instead of client-side code. See HTML and PHP request samples.  Always submit data to Converge through Hyper Text Transfer Protocol Secure (HTTPS) using the POST method.\n"
      },
      {
        "name": "Process Transaction Online",
        "description": "XML supports content type application/x-www-form-urlencoded where the XML-formatted request is assigned to a single value.   \n"
      },
      {
        "name": "Non-Elavon Certified Device",
        "description": "This section is for use with partners who want to integrate with their own PIN pad device. For in-person payment integrations with an Elavon device, please use [CommerceSDK](/products/commerce-sdk/v1).\n"
      },
      {
        "name": "Batch Processing",
        "description": "Every batch import HTTP request must include the enctype attribute of multipart/form-data, a properly formatted CSV or XML batch file along with the individual key value pairs formatted file. \n"
      }
    ],
    "x-tagGroups": [
      {
        "name": "Session Token",
        "tags": [
          "Request Session Token"
        ]
      },
      {
        "name": "Hosted Payment Page",
        "tags": [
          "Redirect to Payment Page"
        ]
      },
      {
        "name": "Lightbox Modal",
        "tags": [
          "Show Lightbox Modal"
        ]
      },
      {
        "name": "Checkout.js",
        "tags": [
          "Checkout.js Transaction Request"
        ]
      },
      {
        "name": "XML API",
        "tags": [
          "Process Transaction Online",
          "Non-Elavon Certified Device",
          "Batch Processing",
          "Terminal Management"
        ]
      }
    ],
    "paths": {
      "/hosted-payments/transaction_token": {
        "post": {
          "tags": [
            "Request Session Token"
          ],
          "summary": "Session Token",
          "operationId": "session-token",
          "servers": [
            {
              "url": "https://api.demo.convergepay.com",
              "description": "Demo"
            },
            {
              "url": "https://api.convergepay.com",
              "description": "Production"
            }
          ],
          "description": "The session token response is only valid for 15 minutes and can only be used once.",
          "responses": {
            "200": {
              "description": "Successful Operation"
            },
            "400": {
              "description": "Bad Request - Check for syntax errors or missing parameters"
            },
            "401": {
              "description": "Unauthorized - Invalid authentication credentials"
            },
            "403": {
              "description": "Forbidden - Check IP address has been whitelisted and you have permission to perform the request"
            },
            "404": {
              "description": "Not Found - The requested item is not found"
            },
            "5XX": {
              "description": "Server Error - Converge is experiencing an issue"
            }
          },
          "x-codeSamples": [
            {
              "lang": "cURL",
              "source": "curl --request POST 'https://api.demo.convergepay.com/hosted-payments/transaction_token' \\\n--header 'Content-Type: application/x-www-form-urlencoded' \\\n--data 'ssl_transaction_type=ccsale' \\\n--data 'ssl_account_id=my_account_id' \\\n--data 'ssl_user_id=my_user_id' \\\n--data 'ssl_pin=my_pin' \\\n--data 'ssl_vendor_id=my_vendor_id' \\\n--data 'ssl_amount=1.00' \\\n--data 'ssl_add_token=Y' \\\n--data 'ssl_get_token=Y'   \n"
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/Session"
          }
        }
      },
      "/hosted-payments": {
        "post": {
          "tags": [
            "Redirect to Payment Page"
          ],
          "summary": "HPP Redirect",
          "operationId": "hpp",
          "servers": [
            {
              "url": "https://api.demo.convergepay.com",
              "description": "Demo"
            },
            {
              "url": "https://api.convergepay.com",
              "description": "Production"
            }
          ],
          "description": "The session token response is only valid for 15 minutes and can only be used once.\n\n**Important:** Make sure to URL encode the session token so that the special characters and symbols such as + and & are encoded properly. Failure to URL encode will result in a 401 error message.\n",
          "responses": {
            "200": {
              "description": "Successful Operation"
            },
            "400": {
              "description": "Bad Request - Check for syntax errors or missing parameters"
            },
            "401": {
              "description": "Unauthorized - Invalid authentication credentials"
            },
            "403": {
              "description": "Forbidden - Check IP address has been whitelisted and you have permission to perform the request"
            },
            "404": {
              "description": "Not Found - The requested item is not found"
            },
            "5XX": {
              "description": "Server Error - Converge is experiencing an issue"
            }
          },
          "x-codeSamples": [
            {
              "lang": "HTML",
              "source": "<html>\n<head>\n  <meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\">\n  <title>Hosted Payment Page Demo</title>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n  <script>\n    function initiateHPP () {\n      var tokenRequest = {\n        ssl_amount: document.getElementById('ssl_amount').value\n      };\n      $.post(\"RequestSample.php\", tokenRequest, function( data ) {\n        document.getElementById('ssl_txn_auth_token').value = data;\n        transactionToken = data;\n      });\n\n      return false;\n    }\n  </script>\n</head>\n\n<body>\n<form name=\"getSessionTokenForm\">\n  <p>\n    Transaction Amount: <input type=\"text\" id=\"ssl_amount\" name=\"ssl_amount\" value=\"100.00\">\n  </p>\n  <p>\n    <button onclick=\"return initiateHPP();\">Initiate Session</button>\n  </p>\n</form>\n    <p></p>\n<form action=\"https://api.demo.convergepay.com/hosted-payments/\" method=\"POST\" enctype=\"application/x-www-form-urlencoded\">\n\n  <table border=\"1\" width=\"40%\" bordercolorlight=\"#C0C0C0\" cellspacing=\"1\" bordercolordark=\"#FFFFFF\">\n    <tr>\n      <td colspan=\"2\"><b><font face=\"Arial Narrow\">Redirect Cardholder to Converge Next Gen HPP - DEMO</font></b></td>\n    </tr>\n    <tr>\n      <td><font face=\"Arial Narrow\">One Time Session Token</font></td>\n      <td><font face=\"Arial Narrow\">\n      <input id=\"ssl_txn_auth_token\" type=\"text\" name=\"ssl_txn_auth_token\" size=\"25\"></font></td>\n    </tr>\n    <tr>\n      <td colspan=\"2\">\n      <p align=\"center\">\n      <font face=\"Arial Narrow\">\n      <input type=\"submit\" value=\"Redirect Cardholder to Converge\" name=\"Submit\"></font></td>\n    </tr>\n  </table>\n</form>\n</body>\n</html>\n"
            },
            {
              "lang": "PHP",
              "source": "<?php\n\n$merchantID = \"XXXXXX\"; //Virtual Merchant Account ID\n$merchantUserID = \"apiuser12334\"; //Virtual Merchant  User ID\n$merchantPinCode = \"XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX\"; //Converge PIN\n$vendorID = \"XXXXXX\"; //Vendor ID\n\n$url = \"https://api.demo.convergepay.com/hosted-payments/transaction_token\"; // URL to Converge demo session token server\n//$url = \"https://api.convergepay.com/hosted-payments/transaction_token\"; // URL to Converge production session token server\n\n// Read the following querystring variables\n\n$amount= $_POST['ssl_amount']; //Post Tran Amount\n\n\n$ch = curl_init();    // initialize curl handle\ncurl_setopt($ch, CURLOPT_URL,$url); // set url to post to\ncurl_setopt($ch, CURLOPT_POST, true); // set POST method\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);\n\n// Set up the post fields. If you want to add custom fields, you would add them in Converge, and add the field name in the curlopt_postfields string.\ncurl_setopt($ch, CURLOPT_POSTFIELDS,\n\"ssl_merchant_id=$merchantID\".\n\"&ssl_user_id=$merchantUserID\".\n\"&ssl_pin=$merchantPinCode\".\n\"&ssl_vendor_id=$vendorID\".\n// \"&ssl_first_name=Samuel\". //You can pass in values from your application and they will appear and pre-populate the HPP form\n// \"&ssl_avs_address=7301 Chapman Hwy\". //You can pass in values from your application and they will appear and pre-populate the HPP form\n// \"&ssl_avs_zip=37920\". //You can pass in values from your application and they will appear and pre-populate the HPP form\n\"&ssl_invoice_number=Inv123\". \n//\"&ssl_next_payment_date=03/03/2023\". //used only if transaction type is ccrecurring\n//\"&ssl_billing_cycle=MONTHLY\".  //used only if transaction type is ccrecurring\n\"&ssl_transaction_type=ccsale\".\n\"&ssl_verify=N\". //set to 'Y'if transaction type is ccgettoken, otherwise not needed\n\"&ssl_get_token=Y\". //pass with 'Y' if you wish to tokenize the card as part of a ccsale, do not send if transaction type set to ccgettoken\n\"&ssl_add_token=Y\". // should always be Y if using card manager and either transaction type is set to 'Y' or if ssl_get_token is set to 'Y'.\n\"&ssl_amount=$amount\" //do not pass amount if using ccgettoken as the transaction type\n);\n\n\ncurl_setopt($ch, CURLOPT_SSL_VERIFYPEER, false);\ncurl_setopt($ch, CURLOPT_SSL_VERIFYHOST, false);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_VERBOSE, true);\n\n$result = curl_exec($ch); // run the curl process\ncurl_close($ch); // Close cURL\n\necho $result;  //shows the session token. \n\n?>\n"
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/HPP"
          }
        }
      },
      "/hosted-payments/PayWithConverge.js": {
        "post": {
          "tags": [
            "Show Lightbox Modal"
          ],
          "summary": "Lightbox Modal",
          "operationId": "lightbox",
          "servers": [
            {
              "url": "https://api.demo.convergepay.com",
              "description": "Demo"
            },
            {
              "url": "https://api.convergepay.com",
              "description": "Production"
            }
          ],
          "description": "Fields may be sent in the session token or transaction request. The session token response is only valid for 15 minutes and can only be used once.",
          "responses": {
            "200": {
              "description": "Successful Operation"
            },
            "400": {
              "description": "Bad Request - Check for syntax errors or missing parameters"
            },
            "401": {
              "description": "Unauthorized - Invalid authentication credentials"
            },
            "403": {
              "description": "Forbidden - Check IP address has been whitelisted and you have permission to perform the request"
            },
            "404": {
              "description": "Not Found - The requested item is not found"
            },
            "5XX": {
              "description": "Server Error - Converge is experiencing an issue"
            }
          },
          "x-codeSamples": [
            {
              "lang": "HTML",
              "source": "<html>\n  <head>\n    <meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\">\n    <title>Lightbox Demo</title>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js\"></script>\n    <script src=\"https://demo.convergepay.com/hosted-payments/PayWithConverge.js\"></script>\n    <script>\n      function initiateLightbox() {\n        var tokenRequest = {\n          ssl_first_name: document.getElementById('name').value,\n          ssl_last_name: document.getElementById('lastname').value,\n          ssl_amount: document.getElementById('ssl_amount').value\n        };\n        $.post(\"RequestSample.php\", tokenRequest, function (data) {\n          document.getElementById('token').value = data;\n          transactionToken = data;\n        });\n        return false;\n      }\n      function showResult(status, msg) {\n        document.getElementById('txn_status').innerHTML = \"<b>\" + status + \"</b>\";\n        document.getElementById('txn_response').innerHTML = msg;\n      }\n      function openLightbox() {\n        var paymentFields = {\n          ssl_txn_auth_token: document.getElementById(\"token\").value\n        };\n        var callback = {\n            onError: function (error) {\n              showResult(\"error\", error);\n            },\n            onCancelled: function () {\n              showResult(\"cancelled\", \"\");\n            },\n            onDeclined: function (response) {\n              showResult(\"declined\", JSON.stringify(response, null, '\\t'));\n            },\n            onApproval: function (response) {\n              showResult(\"approval\", JSON.stringify(response, null, '\\t'));\n            }\n        };\n        PayWithConverge.open(paymentFields, callback);\n        return false;\n      }\n      function showResult(status, msg) {\n        document.getElementById('txn_status').innerHTML = \"<b>\" + status + \"</b>\";\n        document.getElementById('txn_response').innerHTML = msg;\n      }\n    </script>\n  </head>\n\n  <body>\n    <form name=\"getSessionTokenForm\">\n      <br><br><br><br>      \n      First Name: <input type=\"text\" id=\"name\" name=\"ssl_first_name\" size=\"25\" value=\"John\"> <br><br>\n      Last Name: <input type=\"text\" id=\"lastname\" name=\"ssl_last_name\" size=\"25\" value=\"Smith\"> <br>\n      Transaction Amount: <input type=\"text\" id=\"ssl_amount\" name=\"ssl_amount\" value=\"100.00\"> <br> <br>\n      <button onclick=\"return initiateLightbox();\">Click to Confirm Order</button> <br>\n    </form>\n    <br><br>\n    Transaction Token: <input id=\"token\" type=\"text\" name=\"token\"> <br />\n    <button onclick=\"return openLightbox();\">Proceed to Payment</button> <br>\n  \n    <br><br><br><br>\n    Transaction Status:<div id=\"txn_status\"></div>\n    <br>\n    Transaction Response:<div id=\"txn_response\"></div>\n  </body>\n</html>\n"
            },
            {
              "lang": "PHP",
              "source": "<?php\n\n  // Set variables\n  $accountID = \"xxxxxx\"; //Converge 6 or 7-Digit Account ID *Not the 10-Digit Elavon Merchant ID*\n  $UserID = \"convergeapi\"; //Converge User ID *MUST FLAG AS HOSTED API USER IN CONVERGE UI*\n  $PIN = \"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\"; //Converge PIN (64 CHAR A/N)\n\n  $url = \"https://api.demo.convergepay.com/hosted-payments/transaction_token\"; // URL to Converge demo session token server\n  //$url = \"https://api.convergepay.com/hosted-payments/transaction_token\"; // URL to Converge production session token server\n\n\n  /*Payment Field Variables*/\n  // In this section, we set variables to be captured by the PHP file and passed to Converge in the curl request.\n  $firstname=$_POST['ssl_first_name']; //Post first name\n  $lastname=$_POST['ssl_last_name']; //Post first name\n  $amount= $_POST['ssl_amount']; //Post Tran Amount\n  //$merchanttxnid = $_POST['ssl_merchant_txn_id']; //Capture user-defined ssl_merchant_txn_id as POST data\n  //$invoicenumber = $_POST['ssl_invoice_number']; //Capture user-defined ssl_invoice_number as POST data\n\n  //Follow the above pattern to add additional fields to be sent in curl request below.\n  $ch = curl_init();    // initialize curl handle\n  curl_setopt($ch, CURLOPT_URL,$url); // set url to post to\n  curl_setopt($ch,CURLOPT_POST, true); // set POST method\n  curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);\n\n  // Set up the post fields. If you want to add custom fields, you would add them in Converge, and add the field name in the curlopt_postfields string.\n  curl_setopt($ch,CURLOPT_POSTFIELDS,\n  \"ssl_account_id=$accountID\".\n  \"&ssl_user_id=$UserID\".\n  \"&ssl_pin=$PIN\".\n  \"&ssl_transaction_type=CCSALE\".\n  \"&ssl_amount=$amount\"\n  // \"&ssl_first_name=$firstname\".\n  // \"&ssl_last_name=$lastname\".\n  // \"&ssl_get_token=Y\".\n  // \"&ssl_add_token=Y\".\n  );\n\n  curl_setopt($ch, CURLOPT_SSL_VERIFYPEER, false);\n  curl_setopt($ch, CURLOPT_SSL_VERIFYHOST, false);\n  curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n  curl_setopt($ch, CURLOPT_VERBOSE, true);\n\n  $sessiontoken = curl_exec($ch); // run the curl process\n  curl_close($ch); // Close cURL\n\n  echo $sessiontoken;  //shows the session token.\n?>\n"
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/Lightbox"
          }
        }
      },
      "/hosted-payments/Checkout.js": {
        "post": {
          "tags": [
            "Checkout.js Transaction Request"
          ],
          "summary": "Process Transaction",
          "operationId": "checkout",
          "servers": [
            {
              "url": "https://api.demo.convergepay.com",
              "description": "Demo"
            },
            {
              "url": "https://api.convergepay.com",
              "description": "Production"
            }
          ],
          "description": "Fields may be sent in the session token or transaction request. The session token response is only valid for 15 minutes and can only be used once.",
          "responses": {
            "200": {
              "description": "Successful Operation"
            },
            "400": {
              "description": "Bad Request - Check for syntax errors or missing parameters"
            },
            "401": {
              "description": "Unauthorized - Invalid authentication credentials"
            },
            "403": {
              "description": "Forbidden - Check IP address has been whitelisted and you have permission to perform the request"
            },
            "404": {
              "description": "Not Found - The requested item is not found"
            },
            "5XX": {
              "description": "Server Error - Converge is experiencing an issue"
            }
          },
          "x-codeSamples": [
            {
              "lang": "Credit Card",
              "source": "<html>\n<head>\n  <meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\">\n  <title>Checkout.js Credit Card Demo</title>\n  <script src=\"https://api.demo.convergepay.com/hosted-payments/Checkout.js\"></script>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js\"></script>\n  <script>\n    function initiateCheckoutJS() {\n      var tokenRequest = {\n        ssl_amount: document.getElementById('ssl_amount').value\n      };\n      $.post(\"RequestSample.php\", tokenRequest, function (data) {\n        document.getElementById('token').value = data;\n        transactionToken = data;\n      });\n      return false;\n    }\n\n    function pay() {\n      var token = document.getElementById('token').value;\n      var card = document.getElementById('card').value;\n      var exp = document.getElementById('exp').value;\n      var cvv = document.getElementById('cvv').value;\n      var gettoken = document.getElementById('gettoken').value;\n      var addtoken = document.getElementById('addtoken').value;\n      var invoice = document.getElementById('invoice').value;\n      var firstname = document.getElementById('name').value;\n      var lastname = document.getElementById('lastname').value;\n      var address1 = document.getElementById('address1').value;\n      var address2 = document.getElementById('address2').value;\n      var city = document.getElementById('city').value;\n      var state = document.getElementById('state').value;\n      var zip = document.getElementById('zip').value;\n      var paymentData = {\n        ssl_txn_auth_token: token,\n        ssl_card_number: card,\n        ssl_exp_date: exp,\n        ssl_get_token: gettoken,\n        ssl_add_token: addtoken,\n        ssl_invoice_number: invoice,\n        ssl_first_name: firstname,\n        ssl_last_name: lastname,\n        ssl_cvv2cvc2: cvv,\n        ssl_avs_address: address1,\n        ssl_address2: address2,\n        ssl_city: city,\n        ssl_state: state,\n        ssl_avs_zip: zip\n      };\n      var callback = {\n        onError: function (error) {\n          showResult(\"error\", error);\n        },\n        onDeclined: function (response) {\n          console.log(\"Result Message=\" + response['ssl_result_message']);\n          showResult(\"declined\", JSON.stringify(response));\n        },\n        onApproval: function (response) {\n          console.log(\"Approval Code=\" + response['ssl_approval_code']);\n          showResult(\"approval\", JSON.stringify(response));\n        }\n      };\n      ConvergeEmbeddedPayment.pay(paymentData, callback);\n      return false;\n    }\n\n    function showResult(status, msg) {\n      document.getElementById('txn_status').innerHTML = \"<b>\" + status + \"</b>\";\n      document.getElementById('txn_response').innerHTML = msg;\n    }\n  </script>\n</head>\n\n<body>\n  <br>\n  First Name: <input type=\"text\" id=\"name\" name=\"ssl_first_name\" size=\"25\"> <br>\n  Last Name: <input type=\"text\" id=\"lastname\" name=\"ssl_last_name\" size=\"25\"> <br>\n  Address 1: <input type=\"text\" id=\"address1\" name=\"ssl_avs_address\" size=\"30\"> <br>\n  Address 2: <input type=\"text\" id=\"address2\" name=\"ssl_address2\" size=\"30\"> <br>\n  City: <input type=\"text\" id=\"city\" name=\"ssl_city\" size=\"30\" value=\"Atlanta\"> <br>\n  State: <input type=\"text\" id=\"state\" name=\"ssl_state\" size=\"2\" value=\"GA\"> <br>\n  Zip: <input type=\"text\" id=\"zip\" name=\"ssl_avs_zip\" size=\"25\" value=\"30003\"> <br><br>\n  Transaction Amount: <input type=\"text\" id=\"ssl_amount\" name=\"ssl_amount\" value=\"25.00\"> <br> \n  <button onclick=\"return initiateCheckoutJS();\">Click to Confirm Order</button> <br> \n  <br>\n  <br>\n  <br>\n  Session Token: <input id=\"token\" type=\"text\" name=\"token\"> <br>\n  Card Number: <input id=\"card\" type=\"text\" name=\"card\" value=\"4124939999999990\" /> <br>\n  Expiry Date: <input id=\"exp\" type=\"text\" name=\"exp\" value=\"1230\"> <br>\n  CVV2: <input id=\"cvv\" type=\"text\" name=\"cvv\" value=\"123\"> <br>\n  <input id=\"gettoken\" type=\"hidden\" name=\"gettoken\" value=\"y\">\n  <input id=\"addtoken\" type=\"hidden\" name=\"addtoken\" value=\"y\">\n  <input id=\"invoice\" type=\"hidden\" name=\"invoice\" value=\"INV123\">\n  <button onclick=\"return pay();\">Process Payment</button>\n  <br>\n  <br>\n  <br>\n  Transaction Status:<div id=\"txn_status\"></div>\n  <br>\n  Transaction Response:<div id=\"txn_response\"></div>\n</body>\n</html>\n"
            },
            {
              "lang": "ACH",
              "source": "<html>\n<head>\n  <meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\">\n  <title>Checkout.js ACH Demo</title>\n  <script src=\"https://api.demo.convergepay.com/hosted-payments/Checkout.js\"></script>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js\"></script>\n  <script>\n    function initiateCheckoutJS() {\n      var tokenRequest = {\n        ssl_amount: document.getElementById('ssl_amount').value\n      };\n      $.post(\"RequestSample.php\", tokenRequest, function (data) {\n        document.getElementById('token').value = data;\n        transactionToken = data;\n      });\n      return false;\n    }\n\n    function pay() {\n      var token = document.getElementById('token').value;\n      var firstname = document.getElementById('name').value;\n      var lastname = document.getElementById('lastname').value;\n      var routing = document.getElementById('routing').value;\n      var account = document.getElementById('account').value;\n      var type = document.getElementById('type').value;\n      var agree = document.getElementById('agree').value;\n      var paymentData = {\n        ssl_txn_auth_token: token,\n        ssl_first_name: firstname,\n        ssl_last_name: lastname,\n        ssl_aba_number: routing,\n        ssl_bank_account_number: account,\n        ssl_bank_account_type: type,\n        ssl_agree: agree\n      };\n      var callback = {\n        onError: function (error) {\n          showResult(\"error\", error);\n        },\n        onDeclined: function (response) {\n          console.log(\"Result Message=\" + response['ssl_result_message']);\n          showResult(\"declined\", JSON.stringify(response));\n        },\n        onApproval: function (response) {\n          console.log(\"Approval Code=\" + response['ssl_approval_code']);\n          showResult(\"approval\", JSON.stringify(response));\n        }\n      };\n      ConvergeEmbeddedPayment.pay(paymentData, callback);\n      return false;\n    }\n\n    function showResult(status, msg) {\n      document.getElementById('txn_status').innerHTML = \"<b>\" + status + \"</b>\";\n      document.getElementById('txn_response').innerHTML = msg;\n    }\n  </script>\n</head>\n\n<body>\n  <br>\n\n  Transaction Amount: <input type=\"text\" id=\"ssl_amount\" name=\"ssl_amount\" value=\"25.00\"> <br> \n  <button onclick=\"return initiateCheckoutJS();\">Click to Confirm Order</button> <br> \n  <br>\n  <br>\n  <br>\n  Session Token: <input id=\"token\" type=\"text\" name=\"token\"> <br>\n  First Name: <input type=\"text\" id=\"name\" name=\"name\" size=\"25\"> <br>\n  Last Name: <input type=\"text\" id=\"lastname\" name=\"lastname\" size=\"25\"> <br>\n  Routing Number: <input id=\"routing\" type=\"text\" name=\"routing\" value=\"490000018\"> <br>\n  Bank Account Number: <input id=\"account\" type=\"text\" name=\"account\" value=\"12345678\"> <br>\n  Agree: <input id=\"agree\" type=\"checkbox\" name=\"agree\" value=\"1\"> <br>\n  <input id=\"type\" type=\"hidden\" name=\"type\" value=\"0\"> <br>\n  <input id=\"gettoken\" type=\"hidden\" name=\"gettoken\" value=\"y\">\n  <input id=\"addtoken\" type=\"hidden\" name=\"addtoken\" value=\"y\">\n  <button onclick=\"return pay();\">Process Payment</button>\n  <br>\n  <br>\n  <br>\n  Transaction Status:<div id=\"txn_status\"></div>\n  <br>\n  Transaction Response:<div id=\"txn_response\"></div>\n</body>\n</html>\n"
            },
            {
              "lang": "Apple Pay",
              "source": "<html>\n<head>\n  <meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\">\n  <title>Checkout.js Apple Pay Demo</title>\n  <style>\n    .apple-pay-button {\n      -webkit-appearance: -apple-pay-button;\n      -apple-pay-button-type: buy;\n      display: inline-block;\n      width: 100px;\n      min-height: 30px;\n      border: 1px solid black;\n      background-image: -webkit-named-image(apple-pay-logo-black);\n      background-size: 100% calc(60% + 2px);\n      background-repeat: no-repeat;\n      background-color: white;\n      background-position: 50% 50%;\n      border-radius: 5px;\n      padding: 0px;\n      margin: 5px auto;\n      transition: background-color .15s;\n      cursor: pointer;\n    }\n  </style>\n  <script src=\"https://api.demo.convergepay.com/hosted-payments/Checkout.js\"></script>\n\n  <script>\n    var callback = {\n      onError: function (error) {\n        showResult(\"error\", error);\n      },\n      onDeclined: function (response) {\n        showResult(\"declined\", JSON.stringify(response));\n      },\n      onApproval: function (response) {\n        showResult(\"approval\", JSON.stringify(response));\n      },\n      onCancelled: function () {\n        showResult(\"cancelled\", \"\");\n      }\n    };\n\n    function initiateEwallets () {\n      var paymentData = {\n        ssl_txn_auth_token: document.getElementById('token').value\n      };\n      ConvergeEmbeddedPayment.initApplePay('applepay-button', paymentData, callback);\n      return false;\n    }\n\n    function showResult (status, msg, hash) {\n      document.getElementById('txn_status').innerHTML = \"<b>\" + status + \"</b>\";\n      document.getElementById('txn_response').innerHTML = msg + \"</b>\";\n      document.getElementById('txn_hash').innerHTML = hash;\n    }\n\n    function confirmSurcharge() {\n      var agree = $(\"#agreeToSurcharge\").is(\":checked\");\n      if(agree){\n        var callback = {\n          onError: function (error) {\n            showResult(\"error\", error);\n          },\n          onDeclined: function (response) {\n            showResult(\"declined\", JSON.stringify(response));\n          },\n          onApproval: function (response) {\n            showResult(\"approval\", JSON.stringify(response));\n          },\n          onCancelled: function () {\n            showResult(\"cancelled\", \"\");\n          },\n          onSurcharge: function(response) {\n            showResult(\"Surchange Approval\", JSON.stringify(response));\n          }\n        };\n        ConvergeEmbeddedPayment.creditSurchargeDecision(true, callback);\n      }\n    }\n  </script>\n</head>\n\n<body>\n  <form>\n    Session Token: <input type=\"text\" id=\"token\" name=\"token\"> <br>\n    <button onclick=\"return initiateEwallets();\">Initiate Checkout.js</button> <br>\n  </form>\n  <br>\n  <div id=\"sc_button\" style=\"display:none\">\n    <input type=\"checkbox\" id=\"agreeToSurcharge\" name=\"agreeToSurcharge\" value=\"agreeToSurcharge\">\n    <label for=\"agreeToSurcharge\">Agree to Surcharge ?</label>\n    </p>\n    <button id=\"scbutton\" onclick=\"return confirmSurcharge();\">Confirm surchange</button>\n  </div>\n  <br>\n  <div id=\"applepay-button\" class=\"apple-pay-button\"></div>\n  <br>\n  Transaction Status:<div id=\"txn_status\"></div>\n  <br>\n  Transaction Response:<div id=\"txn_response\"></div>\n  <br>\n  Transaction Hash Value:<div id=\"txn_hash\"></div>\n</body>\n</html>\n"
            },
            {
              "lang": "DCC",
              "source": "<html>\n<head>\n<meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\">\n<title>Checkout.js DCC Demo</title>\n<script src=\"https://api.demo.convergepay.com/hosted-payments/Checkout.js\"></script>\n<script>\n      var callback = {\n        onError: function (error) {\n          showResult(\"error\", error);\n        },\n        onDeclined: function (response) {\n          showResult(\"declined\", JSON.stringify(response));\n        },\n        onApproval: function (response) {\n          showResult(\"approval\", JSON.stringify(response));\n        },\n        onDCCDecision: function (response) {\n          document.getElementById('ssl_conversion_rate').value = response.ssl_conversion_rate;\n          showResult(\"DCC decision\", JSON.stringify(response));\n        }\n      };\n      function showResult (status, msg) {\n        document.getElementById('txn_status').innerHTML = \"<b>\" + status + \"</b>\";\n        document.getElementById('txn_response').innerHTML = msg;\n      }\n      function pay () {\n        var token = document.getElementById('token').value;\n        var card = document.getElementById('card').value;\n        var exp = document.getElementById('exp').value;\n        var cvv = document.getElementById('cvv').value;\n        var paymentData = {\n            ssl_txn_auth_token: token,\n            ssl_card_number: card,\n            ssl_exp_date: exp,\n            ssl_cvv2cvc2: cvv\n          };\n        ConvergeEmbeddedPayment.pay(paymentData, callback);\n        return false;\n      }\n      function dcc (option) {\n        ConvergeEmbeddedPayment.dccDecision(option, callback);\n        return false;\n      }\n</script>\n\n</head>\n<body>\n  <form id=\"firstForm\">\n    Transaction Token: <input id=\"token\" type=\"text\" name=\"token\"> <br/>\n    Card Number: <input id=\"card\" type=\"text\" name=\"card\" value=\"****************\"> <br/>\n    Expiry Date: <input id=\"exp\" type=\"text\" name=\"exp\" value=\"1220\"> <br/>\n    CVV2: <input id=\"cvv\" type=\"text\" name=\"cvv\" value=\"123\"> <br/>\n  <button onclick=\"return pay();\">Pay</button>\n  </form>\n    <br>\n    <form id=\"secondForm\">\n      Converion Rate: <input id=\"ssl_conversion_rate\" type=\"text\"> <br/>\n      <button onclick=\"return dcc(true);\">Yes</button><br>\n      <button onclick=\"return dcc(false);\">No</button><br>\n    </form>\n  <br>\n        Transaction Status:<div id=\"txn_status\"></div>\n  <br>\n        Transaction Response:<div id=\"txn_response\"></div>\n</body>\n</html>\n"
            },
            {
              "lang": "Google Pay",
              "source": "<html>\n<head>\n  <meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\">\n  <title>Checkout.js Google Pay Demo</title>\n  <script src=\"https://demo.convergepay.com/hosted-payments/Checkout.js\"></script>\n  <script>\n    var callback = {\n      onError: function (error) {\n        showResult(\"error\", error);\n      },\n      onDeclined: function (response) {\n        showResult(\"declined\", JSON.stringify(response));\n      },\n      onApproval: function (response) {\n        showResult(\"approval\", JSON.stringify(response));\n      },\n      onCancelled: function () {\n        showResult(\"cancelled\", \"\");\n      },\n      onEwalletCvv: function (response) {\n        if (response.ssl_ewallet_cvv){\n                  //card number and expire date were returned back, cvv need to be collected from card holder and then process 3DS2 workflow\n                  var cardNumber = response.ssl_card_number;\n                  var expireDate = response.ssl_exp_date;\n                  var cvv = {need collect from card holder}\n                  //then process three DS 2 workflow\n      },\n      onEwalletThreeDS2: function (response) {\n        if (response.ssl_ewallet_threeds2){\n                  //card number and expire date were returned back, then process 3DS2 workflow\n                  var cardNumber = response.ssl_card_number;\n                  var expireDate = response.ssl_exp_date;\n                  //then process three DS 2 workflow}             \n     }\n    };\n\n    function initiateEwallets() {\n      var paymentData = {\n        ssl_txn_auth_token: document.getElementById('token').value\n      };\n      ConvergeEmbeddedPayment.initGooglePay('googlepay-button', paymentData, callback);\n      return false;\n    }\n\n    function showResult(status, msg, hash) {\n      document.getElementById('txn_status').innerHTML = \"<b>\" + status + \"</b>\";\n      document.getElementById('txn_response').innerHTML = msg + \"</b>\";\n      document.getElementById('txn_hash').innerHTML = hash;\n    }\n  </script>\n</head>\n\n<body>\n  <form>\n    Transaction Token: <input type=\"text\" id=\"token\" name=\"token\"> <br>\n    <button onclick=\"return initiateEwallets();\">Initiate Checkout.js</button> <br>\n  </form>\n  <br>\n  <br /><br />\n  <div id=\"googlepay-button\"></div>\n  <br>\n  Transaction Status:<div id=\"txn_status\"></div>\n  <br>\n  Transaction Response:<div id=\"txn_response\"></div>\n  <br>\n  Transaction Hash Value:<div id=\"txn_hash\"></div>\n</body>\n</html>\n"
            },
            {
              "lang": "PayPal",
              "source": "<html>\n<head>\n  <meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\">\n  <title>Checkout.js PayPal Demo</title>\n  <script src=\"https://api.demo.convergepay.com/hosted-payments/Checkout.js\"></script>\n  <script>\n    var callback = {\n      onError: function (error) {\n        showResult(\"error\", error);\n      },\n      onDeclined: function (response) {\n        showResult(\"declined\", JSON.stringify(response));\n      },\n      onApproval: function (response) {\n        showResult(\"approval\", JSON.stringify(response));\n      },\n      onCancelled: function () {\n        showResult(\"cancelled\", \"\");\n      }\n    };\n\n    function initiatePayPal () {\n      var paymentFields = {\n        ssl_txn_auth_token: document.getElementById('transaction_session_token').value\n      };\n      ConvergeEmbeddedPayment.initPayPalCheckout('paypal-button', paymentFields, callback);\n      return false;\n    };\n\n    function showResult (status, msg) {\n      document.getElementById('txn_status').innerHTML = \"<b>\" + status + \"</b>\";\n      document.getElementById('txn_response').innerHTML = msg + \"</b>\";\n    };\n  </script>\n</head>\n\n<body>\n  <form>\n      Transaction Token: <input type=\"text\" id=\"transaction_session_token\"> <br><br>\n      <button onclick=\"return initiatePayPal();\">Initiate PayPal</button> <br>\n  </form>\n  <br>\n  <div id=\"paypal-button\"></div>\n  <br>\n  Transaction Status:<div id=\"txn_status\"></div>\n  <br>\n  Transaction Response:<div id=\"txn_response\"></div>\n</body>\n</html>\n"
            },
            {
              "lang": "Click to Pay",
              "source": "<html>\n<head>\n  <meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\">\n  <title>Checkout.js Click to Pay Demo</title>\n  <script src=\"jquery.js\"></script>\n  <script src=\"https://api.demo.convergepay.com/hosted-payments/Checkout.js\"></script>\n  <script>\n    var transactionToken;\n    \n    var callback = {\n      onError: function (error) {\n        showResult(\"error\", error);\n      },\n      onDeclined: function (response) {\n        showResult(\"declined\", JSON.stringify(response));\n      },\n      onApproval: function (response) {\n        showResult(\"approval\", JSON.stringify(response));\n      },\n      onCancelled: function () {\n        showResult(\"cancelled\", \"\");\n      }\n    };\n      \n    function initiateCheckoutJS () {\n      var tokenRequest = {\n        ssl_account_id: $(\"#ssl_account_id\").val(),\n        ssl_user_id: $(\"#ssl_user_id\").val(),\n        ssl_pin: $(\"#ssl_pin\").val(),\n        ssl_transaction_type: $(\"#ssl_transaction_type\").val(),\n        ssl_amount: $(\"#ssl_amount\").val()\n      };\n      $.post(\"https://api.demo.convergepay.com/hosted-payments/hosted-payments/transaction_token\", tokenRequest, function( data ) {\n        $(\"#token\").html(data);\n        transactionToken = data;\n        initiateEwallets();\n      });\n      return false;\n    }\n    \n    function initiateEwallets () {\n      var paymentData = {\n        ssl_txn_auth_token: transactionToken,\n        ssl_callback_url: 'https://<your website>/checkout-js-merchantresponse.jsp?osessionId='+transactionToken\n      };\n      ConvergeEmbeddedPayment.initMasterPass('clicktopay-button', paymentData, callback);\n      return false;\n    }\n    \n    function showResult (status, msg, hash) {\n      document.getElementById('txn_status').innerHTML = \"<b>\" + status + \"</b>\";\n      document.getElementById('txn_response').innerHTML = msg + \"</b>\";\n      document.getElementById('txn_hash').innerHTML = hash;\n    }\n  </script>\n</head>\n\n<body>\n  <form name=\"getSessionTokenForm\">\n    Converge Account Number: <input type=\"text\" id=\"ssl_account_id\" name=\"ssl_account_id\" size=\"6\" value=\"000006\"> <br>\n    API User ID: <input type=\"text\" id=\"ssl_user_id\" name=\"ssl_user_id\" size=\"20\" value=\"jin_api\"> <br>\n    API User Terminal Identifier: <input type=\"text\" id=\"ssl_pin\" name=\"ssl_pin\" size=\"64\" value=\"E3NC2X8Y4H8LRZ48TREF0FN551WXKHJS8OUWJLV1RQO5JA755TPR6H5K5K9NFRQD\"> <br>\n    Transaction Type: <input type=\"text\" id=\"ssl_transaction_type\" name=\"ssl_transaction_type\" value=\"CCSALE\"> <br>\n    Transaction Amount: <input type=\"text\" id=\"ssl_amount\" name=\"ssl_amount\" value=\"1.00\"> <br> <br>\n    <button onclick=\"return initiateCheckoutJS();\">Initiate Checkout.js</button> <br>\n  </form>\n  <br>\n  Transaction Token: <span id=\"token\"></span> <br><br>\n  <br/><br/>\n  <div id=\"clicktopay-button\"></div>\n  <br>\n  Transaction Status:<div id=\"txn_status\"></div>\n  <br>\n  Transaction Response:<div id=\"txn_response\"></div>\n  <br>\n  Transaction Hash Value:<div id=\"txn_hash\"></div>\n</body> \n</html>\n"
            },
            {
              "lang": "Click to Pay Callback",
              "source": "<html>\n<head>\n  <meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\">\n  <title>Checkout.js Click to Pay Response Demo</title>\n    <%\n      String osessionId = request.getParameter(\"osessionId\");\n      String oauth_verifier = request.getParameter(\"oauth_verifier\");\n      String mpstatus = request.getParameter(\"mpstatus\");\n      String cartId = request.getParameter(\"cartId\");\n    %>\n  <script src=\"jquery.js\"></script>\n  <script src=\"https://api.demo.convergepay.com/hosted-payments/Checkout.js\"></script>\n  <script>\n    var callback = {\n      onError: function (error) {\n        showResult(\"error\", error);\n      },\n      onDeclined: function (response) {\n        showResult(\"declined\", JSON.stringify(response));\n      },\n      onApproval: function (response) {\n        showResult(\"approval\", JSON.stringify(response));\n      },\n      onCancelled: function () {\n        showResult(\"cancelled\", \"\");\n      }\n    };  \n\n    function payByMasterpass7() {\n      var paymentData = {\n        osessionId: $(\"#osessionId\").val(),\n        oauth_verifier: $(\"#oauth_verifier\").val()\n      };\n      ConvergeEmbeddedPayment.payByMasterpass(paymentData, callback);\n      return false;\n    }\n    \n    function showResult (status, msg, hash) {\n      document.getElementById('txn_status').innerHTML = \"<b>\" + status + \"</b>\";\n      document.getElementById('txn_response').innerHTML = msg + \"</b>\";\n      document.getElementById('txn_hash').innerHTML = hash;\n    }\n\n    function confirmSurcharge() {\n      var callback = {\n        onError: function (error) {\n          showResult(\"error\", error);\n        },\n        onDeclined: function (response) {\n          showResult(\"declined\", JSON.stringify(response));\n        },\n        onApproval: function (response) {\n          showResult(\"approval\", JSON.stringify(response));\n        },\n        onCancelled: function () {\n          showResult(\"cancelled\", \"\");\n        },\n        onSurcharge: function(response) {\n          showResult(\"Surchange Approval\", JSON.stringify(response));\n        }\n      };\n      ConvergeEmbeddedPayment.creditSurchargeDecision(true, callback);\n    }\n  </script>\n  \n</head>\n<body onload=\"payByMasterpass7()\">\n  osessionId: <input type=\"text\" id=\"osessionId\" size=\"20\" value=\"<%=osessionId%>\"> <br>\n  oauth_verifier: <input type=\"text\" id=\"oauth_verifier\" size=\"20\" value=\"<%=oauth_verifier%>\"> <br>\n  mpstatus: <input type=\"text\" id=\"mpstatus\" size=\"20\" value=\"<%=mpstatus%>\"> <br>\n  <br>\n  <button id=\"sc_button\" style=\"display:none\" onclick=\"return confirmSurcharge();\">Confirm surchange</button>\n  <br>\n  Transaction Status:<div id=\"txn_status\"></div>\n  <br>\n  Transaction Response:<div id=\"txn_response\"></div>\n  <br>\n  Transaction Hash Value:<div id=\"txn_hash\"></div>\n</body>\n</html>\n"
            },
            {
              "lang": "Surcharge",
              "source": "<html>\n<head>\n  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n  <title>Checkout.js Surcharge Demo</title>\n  <script src=\"https://code.jquery.com/jquery-3.5.1.js\"> </script>\n  <script src=\"https://demo.convergepay.com/hosted-payments/Checkout.js\"></script>\n  <script>\n    function initiateCheckoutJS() {\n      var tokenRequest = {};\n      $.post(\"RequestSample.php\", tokenRequest, function (data) {\n        document.getElementById('ssl_txn_auth_token').value = data;\n        transactionToken = data;\n      });\n      return false;\n    }\n    var callback = {\n      onError: function (error) {\n        showResult(\"error\", error);\n      },\n      onDeclined: function (response) {\n        //Transaction will run as regular sale if not elligable for Surcharge.\n        if (response.surchargeAllowed === 'Y') {\n          document.getElementById('creditSurchargeForm').style.display = \"block\";\n          showResult(\"credit surcharge\", JSON.stringify(response));\n        } else {\n          showResult(\"declined\", JSON.stringify(response));\n        }\n      },\n      onApproval: function (response) {\n        showResult(\"approval\", JSON.stringify(response));\n      },\n      onCancelled: function () {\n        showResult(\"cancelled\", \"\");\n      }\n    };\n    function payWithCreditCard() {\n      var paymentData = {\n        ssl_txn_auth_token: $('#ssl_txn_auth_token').val(),\n        ssl_card_number: $(\"#ssl_card_number\").val(),\n        ssl_exp_date: $(\"#ssl_exp_date\").val(),\n        ssl_cvv2cvc2: $(\"#ssl_cvv2cvc2\").val(),\n        ssl_amount: $(\"#ssl_amount\").val(),\n        ssl_avs_address: $(\"#ssl_avs_address\").val(),\n        ssl_avs_zip: $(\"#ssl_avs_zip\").val()\n      };\n      ConvergeEmbeddedPayment.pay(paymentData, callback);\n      return false;\n    }\n    function showResult(status, msg, hash) {\n      document.getElementById('txn_status').innerHTML = \"<b>\" + status + \"</b>\";\n      document.getElementById('txn_response').innerHTML = msg;\n      document.getElementById('txn_hash').innerHTML = hash;\n    }\n    function creditSurcharge(option) {\n      ConvergeEmbeddedPayment.creditSurchargeDecision(option, callback);\n      if(option === false){\n        showResult(\"Cancelled\", \"Cardholder declined agreement.\");\n      }\n      return false;\n    }\n  </script>\n</head>\n\n<body>\n  <br>\n  Transaction Token: <input type=\"text\" id=\"ssl_txn_auth_token\" name=\"ssl_txn_auth_token\" size=\"38\"><button\n    onclick=\"initiateCheckoutJS();\">Get Session Token</button><br><br>\n\n  <form name=\"creditCardForm\">\n    Amount: <input id=\"ssl_amount\" type=\"text\" name=\"ssl_amount\" size=\"10\" value=\"1.00\"> <br>\n    Card Number: <input id=\"ssl_card_number\" type=\"text\" name=\"ssl_card_number\" size=\"21\"> <br>\n    Expiry Date: <input id=\"ssl_exp_date\" type=\"text\" name=\"ssl_exp_date\" size=\"10\" value=\"1230\"> <br>\n    CVV2: <input id=\"ssl_cvv2cvc2\" type=\"text\" name=\"ssl_cvv2cvc2\" size=\"8\" value=\"123\"> <br>\n    AVS: <input id=\"ssl_avs_address\" type=\"text\" name=\"ssl_avs_address\" size=\"12\" value=\"1 Test St\"> <br>\n    AVS ZIP: <input id=\"ssl_avs_zip\" type=\"text\" name=\"ssl_avs_zip\" size=\"8\" value=\"36320\"> <br>\n    EMAIL: <input id=\"ssl_email>\" type=\"text\" name=\"ssl_email>\" size=\"25\" value=\"test@test.com\"> <br>\n    <button onclick=\"return payWithCreditCard();\">Pay With Credit Card</button>\n  </form>\n\n  <form name=\"creditSurchargeAccept\" id=\"creditSurchargeForm\" style=\"display:none\">\n    <P> Accept Credit Surcharge: <br>\n    <button onclick=\"return creditSurcharge(true);\">Yes</button>\n    <button onclick=\"return creditSurcharge(false);\">No</button>\n  </form>\n  <br>\n  <hr><br>\n  Transaction Status:<div id=\"txn_status\"></div>\n  <br>\n  Transaction Response:<div id=\"txn_response\"></div>\n  <br>\n  Transaction Hash Value:<div id=\"txn_hash\"></div>\n</body>\n</html>\n"
            },
            {
              "lang": "3D Secure2",
              "source": "<html>\n<head>\n  <meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\">\n  <title>Checkout.js 3D Secure 2 Demo</title>\n\n  <script src=\"https://code.jquery.com/jquery-3.5.1.js\"\n    integrity=\"sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=\"\n    crossorigin=\"anonymous\">\n  </script>\n\n  <script>\n    var envs = {\n      DEMO: \"demo.convergepay.com\",\n      PROD: \"www.convergepay.com\"\n    };\n    function loadScript () {\n      var id = 'id_checkout_js';\n      var id_efs = 'id_efs_js';\n      var src = \"https://\" + envs[$(\"#env\").val()] + \"/hosted-payments/Checkout.js\"; \n      var srcEfs = \"\"; \n      if ($(\"#env\").val() === 'PROD'){\n        srcEfs = \"https://libs.fraud.elavongateway.com/sdk-web-js/1.2.0/3ds2-web-sdk.min.js\";\n      } \n      else {\n        srcEfs = \"https://uat.libs.fraud.eu.elavonaws.com/sdk-web-js/1.2.0/3ds2-web-sdk.min.js\";\n      }\n      delete window.ConvergeEmbeddedPayment;\n      $(\"#\" + id).remove();\n      $(\"#\" + id_efs).remove();\n      var script = document.createElement('script');\n      script.setAttribute('id', id);\n      script.setAttribute('src', src);\n      document.head.appendChild(script);\n      var script1 = document.createElement('script');\n      script1.setAttribute('id', id_efs);\n      script1.setAttribute('src', srcEfs);\n      document.head.appendChild(script1);\n    }\n    $( document ).ready(function() {\n        console.log( \"ready!\" );\n        loadScript();\n    });\n\n    var transactionToken;\n    var efsToken;\n\n    var callback = {\n      onError: function (error) {\n        showResult(\"error\", error);\n      },\n      onDeclined: function (response) {\n        showResult(\"declined\", JSON.stringify(response));\n      },\n      onApproval: function (response) {\n        showResult(\"approval\", JSON.stringify(response));\n      },\n      onCancelled: function () {\n          showResult(\"cancelled\", \"\");\n      },\n      onThreeDSecure2: function (response) {\n        console.log(\"3ds2 token response:\");\n        console.log(response);\n        if (response.ssl_3ds2_token){\n          efsToken = response.ssl_3ds2_token;\n          $(\"#efsToken\").html(efsToken);\n        } \n        else {\n          efsToken =\"\";\n          $(\"#efsToken\").html(\"Error\");\n        }\n      }\n    };\n\n    function initiateCheckoutJS () {\n      var tokenRequest = {\n        ssl_amount: $(\"#ssl_amount\").val()\n      };\n      $.post(\"RequestSample.php\", tokenRequest, function(data) {\n        $(\"#token\").html(data);\n        transactionToken = data;\n      });\n      return false;\n    }\n\n    function getEfsToken() {\n      var paymentData = {\n        ssl_txn_auth_token: transactionToken\n      };\n      ConvergeEmbeddedPayment.getEFSToken(paymentData, callback);\n      return false;\n    }\n\n    function payWithCreditCard () {\n      var paymentData = {\n        ssl_txn_auth_token: transactionToken,\n        ssl_card_number: $(\"#ssl_card_number\").val(),\n        ssl_exp_date: $(\"#ssl_exp_date\").val(),\n        ssl_cvv2cvc2: $(\"#ssl_cvv2cvc2\").val(),\n        ssl_program_protocol: $(\"#ssl_program_protocol\").val(),\n        ssl_dir_server_tran_id: $(\"#ssl_dir_server_tran_id\").val(),\n        ssl_eci_ind: $(\"#ssl_eci_ind\").val(),\n        ssl_3dsecure_value: $(\"#ssl_3dsecure_value\").val(),\n        ssl_3ds_message_version: $(\"#ssl_3ds_message_version\").val(),\n        ssl_3ds_trans_status: $(\"#ssl_3ds_trans_status\").val(),\n        ssl_3ds_trans_status_reason: $(\"#ssl_3ds_trans_status_reason\").val(),\n        ssl_3ds_server_trans_id: $(\"#ssl_3ds_server_trans_id\").val()\n      };\n      ConvergeEmbeddedPayment.pay(paymentData, callback);\n      return false;\n    }\n\n    function showResult (status, msg, hash) {\n      document.getElementById('txn_status').innerHTML = \"<b>\" + status + \"</b>\";\n      document.getElementById('txn_response').innerHTML = msg + \"</b>\";\n      document.getElementById('txn_hash').innerHTML = hash;\n    }\n\n    function getEFSExpiry () {\n      var expMM = $(\"#ssl_exp_date\").val().substring(0,2);\n      var expYY = $(\"#ssl_exp_date\").val().substring(2,4);\n      return expYY.concat(expMM);\n    };\n    function getEFSCardholderName () {\n          var firstName = $(\"#ssl_first_name\").val();\n          var lastName = $(\"#ssl_last_name\").val();\n          return firstName.concat(\" \", lastName).substring(45);\n    };\n    function getEFSEci(eci) {\n      if (eci === '01' || eci === '05'){\n        return '5';\n      } \n      else if (eci === '02' || eci === '06'){\n        return '6';\n      } \n      else {\n        return '7';\n      }\n    };\n\n    function handleAllInOne() {\n      if ($(\"#env\").val() == 'PROD'){\n        efsUrl = \"https://gw.fraud.elavongateway.com/3ds2\";\n      } \n      else {\n        efsUrl = \"https://uat.gw.fraud.eu.elavonaws.com/3ds2\"; \n      }\n      var sdk = new window.Elavon3DSWebSDK({ baseUrl : efsUrl, token : efsToken, el : 'holder' });\n      var request = {\n        //challengeIframeElement: document.getElementById('holder'),\n        purchaseAmount : $(\"#ssl_amount\").val()*100,\n        purchaseCurrency : \"840\",\n        purchaseExponent : \"2\",\n        //purchaseDate : \"20200429112659\",\n        acctNumber : $(\"#ssl_card_number\").val(),\n        cardExpiryDate : getEFSExpiry(),\n        cardholderName: getCardholderName(),\n        email:$(\"#ssl_email\").val(),\n        messageCategory : \"01\",\n        transType : \"01\",\n        threeDSRequestorAuthenticationInd : \"01\",\n        challengeWindowSize: \"03\",\n        clientStartProtocolVersion: \"2.1.0\",\n        clientEndProtocolVersion: \"2.2.0\",\n        displayMode: \"lightbox\"\n      };\n\n      sdk.web3dsFlow(request).then( function success(response) {\n        document.getElementById('ssl_eci_ind').value = getEFSEci(response.eci);\n        document.getElementById('ssl_program_protocol').value = 2;\n        if (response.authenticationValue) {\n          document.getElementById('ssl_3dsecure_value').value = response.authenticationValue;\n        }\n        if(response.dsTransID){\n          document.getElementById('ssl_dir_server_tran_id').value = response.dsTransID;\n        }\n        if(response.threeDSServerTransID){\n          document.getElementById('ssl_3ds_server_trans_id').value = response.threeDSServerTransID;\n        }\n        if(response.transStatus){\n          document.getElementById('ssl_3ds_trans_status').value = response.transStatus;\n        }\n        if(response.transStatusReason){\n          document.getElementById('ssl_3ds_trans_status_reason').value = response.transStatusReason;\n        }\n        if(response.messageVersion){\n          document.getElementById('ssl_3ds_message_version').value = response.messageVersion;\n        }     \n      }, \n      function error(response) {\n        console.log(\"Error \" + response);\n        document.getElementById('ssl_eci_ind').value = \"7\";\n      });\n    }\n  </script>\n</head>\n\n<body leftmargin=\"20\">\n  Environment:\n  <select id=\"env\" name=\"env\" onchange=\"loadScript()\">\n      <option value=\"DEMO\">DEMO</option>\n      <option value=\"PROD\">Production</option>\n  </select><br><br>\n  <h3>Step 1: Initiate Checkout</h3>\n  <form name=\"getSessionTokenForm\">\n      Transaction Amount: <input type=\"text\" id=\"ssl_amount\" name=\"ssl_amount\" value=\"1.00\"> <br> <br>\n      <button onclick=\"return initiateCheckoutJS();\">Initiate Checkout.js</button> <br>\n  </form>\n  <br>\n  Transaction Token: <span id=\"token\"></span><br><br>\n  <h3>Step 2: Get EFS Token</h3>\n  <button onclick=\"return getEfsToken();\">Get EFS Token</button><br><br>\n  EFS Token: <span id=\"efsToken\"></span><br><br>\n  <h3>Step 3: Process 3DS2</h3>\n  Card Number: <input id=\"ssl_card_number\" type=\"text\" name=\"ssl_card_number\" value=\"\"> <br/>\n  Expiry Date: <input id=\"ssl_exp_date\" type=\"text\" name=\"ssl_exp_date\" value=\"\"> <br/>\n  CVV2: <input id=\"ssl_cvv2cvc2\" type=\"text\" name=\"ssl_cvv2cvc2\" value=\"\"> <br/><br/>\n\n  <button onclick=\"handleAllInOne()\">Process 3DS2</button><br><br>\n\n  <form name=\"creditCardForm\">\n    Program protocol: <input id=\"ssl_program_protocol\" type=\"text\" name=\"ssl_program_protocol\" value=\"\" ><br/>\n    Dir Server: <input id=\"ssl_dir_server_tran_id\" type=\"text\" name=\"ssl_dir_server_tran_id\" value=\"\" ><br/>\n    Eci: <input id=\"ssl_eci_ind\" type=\"text\" name=\"ssl_eci_ind\" value=\"\" ><br/>\n    AuthenticationValue: <input id=\"ssl_3dsecure_value\" type=\"text\" name=\"ssl_3dsecure_value\" value=\"\" ><br/>\n    3DS Message_version: <input id=\"ssl_3ds_message_version\" name=\"ssl_3ds_message_version\" value=\"\"><br/>\n    3DS Trans_status: <input id=\"ssl_3ds_trans_status\" name=\"ssl_3ds_trans_status\" value=\"\"><br/>\n    3DS Trans_status_reason: <input id=\"ssl_3ds_trans_status_reason\"  name=\"ssl_3ds_trans_status_reason\" value=\"\"><br/>\n    3DS Server_trans_id: <input id=\"ssl_3ds_server_trans_id\" name=\"ssl_3ds_server_trans_id\" value=\"\"><br/>\n    <h3>Step 4: Process Payment</h3>\n    <button onclick=\"return payWithCreditCard();\">Pay With Credit Card</button> \n  </form>\n  <br/>\n  <br>\n  Status:<div id=\"txn_status\"></div>\n  <br>\n  Response:<div id=\"txn_response\"></div>\n  <br>\n  Hash Value:<div id=\"txn_hash\"></div>\n</body>\n</html>\n"
            },
            {
              "lang": "POS Lending",
              "source": "<html> \n<head> \n  <meta http-equiv=\"content-type\" content=\"text/html; charset=UTF-8\"> \n  <title>Point-of-Sale Lending Demo</title> \n  <script src=\"https://api.demo.convergepay.com/hosted-payments/Checkout.js\"></script> \n  <script> \n    var callback = { \n      onError: function (error) { \n          showResult(\"error\", error); \n      }, \n      onDeclined: function (response) { \n        showResult(\"declined\", JSON.stringify(response)); \n      }, \n      onApproval: function (response) { \n        showResult(\"approval\", JSON.stringify(response)); \n      }, \n      onCancelled: function () { \n        showResult(\"cancelled\", \"\"); \n      } \n    }; \n    function initiatePOSL() { \n      var paymentData = { \n        ssl_txn_auth_token: document.getElementById('token').value \n      }; \n      ConvergeEmbeddedPayment.initPOSL('posl-button', paymentData, callback); \n      return false; \n    } \n    function showResult(status, msg, hash) { \n      document.getElementById('txn_status').innerHTML = \"<b>\" + status + \"</b>\"; \n      document.getElementById('txn_response').innerHTML = msg + \"</b>\"; \n      document.getElementById('txn_hash').innerHTML = hash; \n    } \n  </script> \n</head> \n\n<body> \n  <form> \n    Transaction Token: <input type=\"text\" id=\"token\" name=\"token\"> <br> \n    <button onclick=\"return initiatePOSL();\">Initiate Avvance</button> <br> \n  </form> \n  <br> \n  <br /><br /> \n    <div id=\"posl-button\"></div> \n  <br> \n\n  Transaction Status:<div id=\"txn_status\"></div> \n  <br> \n  Transaction Response:<div id=\"txn_response\"></div> \n  <br> \n  Transaction Hash Value:<div id=\"txn_hash\"></div> \n</body> \n</html> \n"
            },
            {
              "lang": "PHP",
              "source": "<?php\n\n// Credit Card Sale\n\n$accountID = \"xxxxxx\"; //Converge 6 or 7-Digit Account ID *Not the 10-Digit Elavon Merchant ID*\n$UserID = \"convergeapi\"; //Converge User ID *MUST FLAG AS HOSTED API USER IN CONVERGE UI*\n$PIN = \"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\"; //Converge PIN (64 CHAR A/N)\n\n$url = \"https://api.demo.convergepay.com/hosted-payments/transaction_token\"; // URL to Converge demo session token server\n//$url = \"https://api.convergepay.com/hosted-payments/transaction_token\"; // URL to Converge production session token server\n\n\n// Read the following querystring variables\n\n$firstname=$_POST['ssl_first_name']; //Post first name\n$lastname=$_POST['ssl_last_name']; //Post last name\n$amount= $_POST['ssl_amount']; //Post Tran Amount\n\n\n$ch = curl_init();    // initialize curl handle\ncurl_setopt($ch, CURLOPT_URL,$url); // set url to post to\ncurl_setopt($ch,CURLOPT_POST, true); // set POST method\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);\n\n// Set up the post fields. If you want to add custom fields, you would add them in Converge, and add the field name in the curlopt_postfields string.\ncurl_setopt($ch,CURLOPT_POSTFIELDS,\n\"ssl_account_id=$accountID\".\n\"&ssl_user_id=$UserID\".\n\"&ssl_pin=$PIN\".\n\"&ssl_transaction_type=ccsale\".\n\"&ssl_first_name=$firstname\".\n\"&ssl_last_name=$lastname\".\n\"&ssl_get_token=Y\".\n\"&ssl_add_token=Y\".\n\"&ssl_amount=$amount\"\n);\n\n\ncurl_setopt($ch, CURLOPT_SSL_VERIFYPEER, false);\ncurl_setopt($ch, CURLOPT_SSL_VERIFYHOST, false);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\ncurl_setopt($ch, CURLOPT_VERBOSE, true);\n// curl_setopt($ch, CURLOPT_PROXY, \"http://your.proxy.server:port\"); // proxy server config\n\n$result = curl_exec($ch); // run the curl process\ncurl_close($ch); // Close cURL\n\necho $result;  //shows the session token.\n?>   \n"
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/Checkout"
          }
        }
      },
      "/processxml.do": {
        "post": {
          "tags": [
            "Process Transaction Online"
          ],
          "summary": "Transaction",
          "operationId": "process",
          "servers": [
            {
              "url": "https://api.demo.convergepay.com/VirtualMerchantDemo",
              "description": "Demo"
            },
            {
              "url": "https://api.convergepay.com/VirtualMerchant",
              "description": "Production"
            }
          ],
          "x-codeSamples": [
            {
              "lang": "cURL",
              "source": "curl -X POST 'https://api.demo.convergepay.com/VirtualMerchantDemo/processxml.do' \\\n-H 'Content-Type: application/x-www-form-urlencoded' \\\n--data-urlencode \n'xmldata= \n<txn>\n  <ssl_transaction_type>ccsale</ssl_transaction_type>\n  <ssl_account_id>my_account_id</ssl_account_id>\n  <ssl_user_id>my_user_id</ssl_user_id>\n  <ssl_pin>my_pin</ssl_pin>\n  <ssl_vendor_id>my_vendor_id</ssl_vendor_id>\n  <ssl_card_number>4000000000000002</ssl_card_number>\n  <ssl_exp_date>1230</ssl_exp_date>\n  <ssl_cvv2cvc2>123</ssl_cvv2cvc2>\n  <ssl_amount>25.00</ssl_amount>\n  <ssl_avs_address>123 Main St</ssl_avs_address>\n  <ssl_avs_zip>12345</ssl_avs_zip>\n  <ssl_invoice_number>INV001</ssl_invoice_number>\n</txn>'\n"
            }
          ],
          "requestBody": {
            "$ref": "#/components/requestBodies/XMLProcessOnline"
          },
          "responses": {
            "200": {
              "description": "Successful Operation",
              "content": {
                "text/xml": {
                  "schema": {
                    "allOf": [
                      {
                        "properties": {
                          "Transaction Response": {
                            "$ref": "#/components/schemas/Transaction_Response"
                          },
                          "Transaction Query Response": {
                            "$ref": "#/components/schemas/TransactionQuery_Response"
                          },
                          "Token Response": {
                            "$ref": "#/components/schemas/Token_Response"
                          },
                          "Token Query Response": {
                            "$ref": "#/components/schemas/TokenQuery_Response"
                          },
                          "End of Day Summary Response": {
                            "$ref": "#/components/schemas/EODSummary_Response"
                          },
                          "Settlement Response": {
                            "$ref": "#/components/schemas/Settlement_Response"
                          },
                          "Settlement Query": {
                            "$ref": "#/components/schemas/Settlement_Query"
                          },
                          "Account Update Response": {
                            "$ref": "#/components/schemas/AccountUpdate_Response"
                          },
                          "Tip Response": {
                            "$ref": "#/components/schemas/Tip_Response"
                          },
                          "Address Verification Response": {
                            "$ref": "#/components/schemas/Address_Response"
                          },
                          "CVV Response": {
                            "$ref": "#/components/schemas/CVV_Response"
                          },
                          "DCC Response": {
                            "$ref": "#/components/schemas/DCC_Response"
                          },
                          "Partial Approval Response": {
                            "$ref": "#/components/schemas/PartialApproval_Response"
                          },
                          "Card on File Response": {
                            "$ref": "#/components/schemas/CardOnFile_Response"
                          },
                          "ACH Response": {
                            "$ref": "#/components/schemas/ACH_Response"
                          },
                          "Gift Card Response": {
                            "$ref": "#/components/schemas/GiftCard_Response"
                          },
                          "Bin Lookup Response": {
                            "$ref": "#/components/schemas/BinLookup_Response"
                          },
                          "Error Response": {
                            "$ref": "#/components/schemas/Error_Response"
                          }
                        }
                      }
                    ]
                  },
                  "examples": {
                    "CC_Sale": {
                      "summary": "Credit Card Sale",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<txn>\n  <ssl_card_number>4000000000000002</ssl_card_number>\n  <ssl_exp_date>1230</ssl_exp_date>\n  <ssl_amount>1.00</ssl_amount>\n  <ssl_result>0</ssl_result>\n  <ssl_result_message>APPROVAL</ssl_result_message>\n  <ssl_txn_id>my_txn_id</ssl_txn_id>\n  <ssl_approval_code>CMC142</ssl_approval_code>\n  <ssl_account_balance>1.00</ssl_account_balance>\n  <ssl_txn_time>10/20/2025 01:07:23 PM</ssl_txn_time>\n</txn>\n"
                    },
                    "CC_Sale_UseToken": {
                      "summary": "Credit Card Sale (using Token)",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<txn>\n  <ssl_cit_mit_cof_indicator>M01</ssl_cit_mit_cof_indicator>\n  <ssl_issuer_response>00</ssl_issuer_response>\n  <ssl_last_name></ssl_last_name>\n  <ssl_company></ssl_company>\n  <ssl_phone></ssl_phone>\n  <ssl_card_number>4000000000000002</ssl_card_number>\n  <ssl_departure_date></ssl_departure_date>\n  <ssl_merchant_txn_id></ssl_merchant_txn_id>\n  <ssl_oar_data>12345678998765008170000047554200000000000388956327020112608</ssl_oar_data>\n  <ssl_result>0</ssl_result>\n  <ssl_txn_id>my_txn_id</ssl_txn_id>\n  <ssl_avs_response>Z</ssl_avs_response>\n  <ssl_approval_code>11116</ssl_approval_code>\n  <ssl_email></ssl_email>\n  <ssl_amount>1.50</ssl_amount>\n  <ssl_avs_zip>12345</ssl_avs_zip>\n  <ssl_txn_time>09/27/2030 04:08:17 PM</ssl_txn_time>\n  <ssl_description></ssl_description>\n  <ssl_vendor_id>Jim</ssl_vendor_id>\n  <ssl_exp_date>1230</ssl_exp_date>\n  <ssl_card_short_description>VISA</ssl_card_short_description>\n  <ssl_get_token>N</ssl_get_token>\n  <ssl_completion_date></ssl_completion_date>\n  <ssl_address2></ssl_address2>\n  <ssl_token_response>SUCCESS</ssl_token_response>\n  <ssl_credit_surcharge_amount></ssl_credit_surcharge_amount>\n  <ssl_customer_code></ssl_customer_code>\n  <ssl_country></ssl_country>\n  <ssl_card_type>CREDITCARD</ssl_card_type>\n  <ssl_token_format>N</ssl_token_format>\n  <ssl_token_provider>V</ssl_token_provider>\n  <ssl_transaction_type>SALE</ssl_transaction_type>\n  <ssl_salestax></ssl_salestax>\n  <ssl_avs_address>123 Main St</ssl_avs_address>\n  <ssl_account_balance>0.00</ssl_account_balance>\n  <ssl_ps2000_data>my_ps2000_data</ssl_ps2000_data>\n  <ssl_state></ssl_state>\n  <ssl_city></ssl_city>\n  <ssl_result_message>APPROVAL</ssl_result_message>\n  <ssl_first_name></ssl_first_name>\n  <ssl_invoice_number>INV001</ssl_invoice_number>\n  <ssl_cvv2_response></ssl_cvv2_response>\n  <ssl_token>my_token</ssl_token>\n  <ssl_partner_app_id>01</ssl_partner_app_id>\n</txn>\n"
                    },
                    "CC_Sale_DCC": {
                      "summary": "Credit Card Sale (with DCC)",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<txn>\n  <id>ekU9j0L0iFO9m9FELAqK8E6</id>\n  <ssl_txn_currency_code>EUR</ssl_txn_currency_code>\n  <ssl_markup>3.25</ssl_markup>\n  <ssl_conversion_rate>.76373</ssl_conversion_rate>\n  <ssl_amount>1.00</ssl_amount>\n  <ssl_cardholder_amount>0.76</ssl_cardholder_amount> \n  <dccoption>\n    <option label=\"Please charge my purchase in my home currency\">Y</option>\n    <option label=\"Do not charge me in my home currency. charge my purchase in US dollars\">N</option>\n  </dccoption>\n</txn>\n"
                    },
                    "CC_Sale_Token": {
                      "summary": "Credit Card Sale (with Token Generation)",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<txn>\n  <ssl_approval_code>CVI194</ssl_approval_code>\n  <ssl_dynamic_dba/>21, 17, or 12 length>\n  <ssl_exp_date>1230</ssl_exp_date>\n  <ssl_server />\n  <ssl_account_balance>12.00</ssl_account_balance>\n  <ssl_token>my_token</ssl_token>\n  <ssl_get_token>Y</ssl_get_token>\n  <ssl_result_message>APPROVAL</ssl_result_message>\n  <ssl_token_response>SUCCESS</ssl_token_response>\n  <ssl_base_amount>12.00</ssl_base_amount>\n  <ssl_amount>12.00</ssl_amount>\n  <ssl_txn_id>my_txn_id</ssl_txn_id>\n  <ssl_result>0</ssl_result>\n  <ssl_card_number>4000000000000002</ssl_card_number>\n  <ssl_txn_time>09/26/2025 02:50:56 PM</ssl_txn_time>\n  <ssl_avs_response>S</ssl_avs_response>\n  <ssl_cvv2_response>M</ssl_cvv2_response>\n</txn>\n"
                    },
                    "CC_AuthOnly": {
                      "summary": "Credit Card Auth Only",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<txn>\n  <ssl_issuer_response>00</ssl_issuer_response>\n  <ssl_card_number>4000000000000002</ssl_card_number>\n  <ssl_oar_data>010013241303160120280000047554200000000000939515407601132413</ssl_oar_data>\n  <ssl_result>0</ssl_result>\n  <ssl_txn_id>150324C55-64845CF5-B028-4668-A49E-ABA438BA6080</ssl_txn_id>\n  <ssl_avs_response> </ssl_avs_response>\n  <ssl_approval_code>939515</ssl_approval_code>\n  <ssl_amount>1.00</ssl_amount>\n  <ssl_txn_time>03/15/2024 08:20:28 PM</ssl_txn_time>\n  <ssl_exp_date>1249</ssl_exp_date>\n  <ssl_card_short_description>VISA</ssl_card_short_description>\n  <ssl_completion_date/>\n  <ssl_get_token>N</ssl_get_token>\n  <ssl_customer_code/>\n  <ssl_card_type>CREDITCARD</ssl_card_type>\n  <ssl_transaction_type>AUTHONLY</ssl_transaction_type>\n  <ssl_account_balance>0.00</ssl_account_balance>\n  <ssl_ps2000_data>A7540760482850875100A</ssl_ps2000_data>\n  <ssl_result_message>APPROVAL</ssl_result_message>\n  <ssl_invoice_number>INV001</ssl_invoice_number>\n  <ssl_cvv2_response>M</ssl_cvv2_response>\n  <ssl_partner_app_id>01</ssl_partner_app_id>\n</txn>\n"
                    },
                    "CC_AuthOnly_Increment": {
                      "summary": "Credit Card Auth Only Increment",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<txn>\n  <ssl_cit_mit_cof_indicator>M01</ssl_cit_mit_cof_indicator>\n  <ssl_issuer_response>00</ssl_issuer_response>\n  <ssl_card_number>4000000000000002</ssl_card_number>\n  <ssl_oar_data>010011666503261414460000047554200000000000441837408614116665</ssl_oar_data>\n  <ssl_result>0</ssl_result>\n  <ssl_txn_id>260324C55-C78DCBC9-9423-40FC-BE7D-7585ECD164C0</ssl_txn_id>\n  <ssl_avs_response> </ssl_avs_response>\n  <ssl_approval_code>441837</ssl_approval_code>\n  <ssl_amount>4.00</ssl_amount>\n  <ssl_txn_time>03/26/2024 10:15:46 AM</ssl_txn_time>\n  <ssl_exp_date>1249</ssl_exp_date>\n  <ssl_card_short_description/>\n  <ssl_completion_date/>\n  <ssl_get_token>N</ssl_get_token>\n  <ssl_customer_code/>\n  <ssl_card_type>CREDITCARD</ssl_card_type>\n  <ssl_transaction_type>AUTHONLY</ssl_transaction_type>\n  <ssl_account_balance>0.00</ssl_account_balance>\n  <ssl_ps2000_data>Y7540865128776755100A</ssl_ps2000_data>\n  <ssl_result_message>APPROVAL</ssl_result_message>\n  <ssl_invoice_number/>\n  <ssl_cvv2_response/>\n  <ssl_partner_app_id>01</ssl_partner_app_id>\n</txn>\n"
                    },
                    "CC_Verify": {
                      "summary": "Credit Card Verify",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<txn>\n  <ssl_issuer_response>85</ssl_issuer_response>\n  <ssl_transaction_type>CARDVERIFICATION</ssl_transaction_type>\n  <ssl_card_number>4000000000000002</ssl_card_number>\n  <ssl_oar_data>010001417004271858400427027344400000000000669325MCC244536</ssl_oar_data>\n  <ssl_result>0</ssl_result>\n  <ssl_txn_id>270422A41-376C2756-F972-49EB-8BDD-A78F4C301F73</ssl_txn_id>\n  <ssl_brand_token_eligibility_indicator>1</ssl_brand_token_eligibility_indicator>\n  <ssl_avs_response>A</ssl_avs_response>\n  <ssl_approval_code>669325</ssl_approval_code>\n  <ssl_txn_time>04/27/2022 02:58:40 PM</ssl_txn_time>\n  <ssl_account_balance>0.00</ssl_account_balance>\n  <ssl_ps2000_data>MMCC244536      0427</ssl_ps2000_data>\n  <ssl_exp_date>1230</ssl_exp_date>\n  <ssl_result_message>APPROVAL</ssl_result_message>\n  <ssl_card_short_description>MC</ssl_card_short_description>\n  <ssl_card_type>CREDITCARD</ssl_card_type>\n  <ssl_cvv2_response>M</ssl_cvv2_response>\n  <ssl_partner_app_id>01</ssl_partner_app_id>\n</txn>   \n"
                    },
                    "CC_Complete": {
                      "summary": "Credit Card Completion",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>     \n<txn>\n  <ssl_card_number>4000000000000002</ssl_card_number>\n  <ssl_oar_data>010012963704202039190000047554200000000000410448211020129637</ssl_oar_data>\n  <ssl_result>0</ssl_result>\n  <ssl_txn_id>200422A40-30D8BD75-B9A2-4774-A2A1-244552F1F3C0</ssl_txn_id>\n  <ssl_avs_response></ssl_avs_response>\n  <ssl_approval_code>410448</ssl_approval_code>\n  <ssl_amount>12.00</ssl_amount>\n  <ssl_transaction_currency>USD</ssl_transaction_currency>\n  <ssl_txn_time>04/20/2022 04:41:07 PM</ssl_txn_time>\n  <ssl_exp_date>1230</ssl_exp_date>\n  <ssl_card_short_description>VISA</ssl_card_short_description>\n  <ssl_customer_code></ssl_customer_code>\n  <ssl_card_type>CREDITCARD</ssl_card_type>\n  <ssl_transaction_type>COMPLETE</ssl_transaction_type>\n  <ssl_salestax>0.00</ssl_salestax>\n  <ssl_account_balance>0.00</ssl_account_balance>\n  <ssl_ps2000_data>A000000000000000 A</ssl_ps2000_data>\n  <ssl_result_message>APPROVAL</ssl_result_message>\n  <ssl_invoice_number></ssl_invoice_number>\n  <ssl_cvv2_response></ssl_cvv2_response>\n  <ssl_partner_app_id>01</ssl_partner_app_id>\n</txn>  \n"
                    },
                    "CC_Return_Full": {
                      "summary": "Credit Card Refund (Full)",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?> \n<txn>\n  <ssl_issuer_response>00</ssl_issuer_response>\n  <ssl_last_name/>\n  <ssl_phone/>\n  <ssl_card_number>4000000000000002</ssl_card_number>\n  <ssl_departure_date/>\n  <ssl_result>0</ssl_result>\n  <ssl_txn_id>200324C55-CDE5B0C8-CB32-447C-8784-3E76EAD39715</ssl_txn_id>\n  <ssl_avs_response> </ssl_avs_response>\n  <ssl_approval_code>274146</ssl_approval_code>\n  <ssl_email/>\n  <ssl_amount>2.00</ssl_amount>\n  <ssl_avs_zip/>\n  <ssl_txn_time>03/20/2024 10:37:02 AM</ssl_txn_time>\n  <ssl_exp_date>1225</ssl_exp_date>\n  <ssl_card_short_description>VISA</ssl_card_short_description>\n  <ssl_country/>\n  <ssl_card_type>CREDITCARD</ssl_card_type>\n  <ssl_transaction_type>RETURN</ssl_transaction_type>\n  <ssl_salestax/>\n  <ssl_avs_address/>\n  <ssl_account_balance>0.00</ssl_account_balance>\n  <ssl_state/>\n  <ssl_city/>\n  <ssl_result_message>APPROVAL</ssl_result_message>\n  <ssl_first_name/>\n  <ssl_invoice_number/>\n  <ssl_cvv2_response/>\n  <ssl_partner_app_id>01</ssl_partner_app_id>\n</txn>\n"
                    },
                    "CC_Return": {
                      "summary": "Credit Card Refund (Partial)",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?> \n<txn>\n  <ssl_issuer_response>00</ssl_issuer_response>\n  <ssl_last_name>Test Last</ssl_last_name>\n  <ssl_company></ssl_company>\n  <ssl_phone></ssl_phone>\n  <ssl_card_number>4000000000000002</ssl_card_number>\n  <ssl_result>0</ssl_result>\n  <ssl_txn_id>121021ED4-221E63DC-F5E7-4E04-AA95-B28B9E344B3E</ssl_txn_id>\n  <ssl_avs_response> </ssl_avs_response>\n  <ssl_approval_code>401527</ssl_approval_code>\n  <ssl_email></ssl_email>\n  <ssl_amount>1.50</ssl_amount>\n  <ssl_avs_zip>12345</ssl_avs_zip>\n  <ssl_txn_time>10/12/2024 01:44:40 PM</ssl_txn_time>\n  <ssl_description></ssl_description>\n  <ssl_exp_date>1230</ssl_exp_date>\n  <ssl_completion_date></ssl_completion_date>\n  <ssl_address2></ssl_address2>\n  <ssl_card_short_description>VISA</ssl_card_short_description>\n  <ssl_customer_code></ssl_customer_code>\n  <ssl_country></ssl_country>\n  <ssl_card_type>CREDITCARD</ssl_card_type>\n  <ssl_transaction_type>RETURN</ssl_transaction_type>\n  <ssl_salestax></ssl_salestax>\n  <ssl_avs_address>test road</ssl_avs_address>\n  <ssl_account_balance>0.00</ssl_account_balance>\n  <ssl_state></ssl_state>\n  <ssl_city></ssl_city>\n  <ssl_result_message>APPROVAL</ssl_result_message>\n  <ssl_first_name>John</ssl_first_name>\n  <ssl_invoice_number></ssl_invoice_number>\n  <ssl_cvv2_response></ssl_cvv2_response>\n</txn>\n"
                    },
                    "CC_Void": {
                      "summary": "Credit Card Void",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?> \n<txn>\n  <ssl_issuer_response>00</ssl_issuer_response>\n  <ssl_last_name>Smith</ssl_last_name>\n  <ssl_company></ssl_company>\n  <ssl_phone></ssl_phone>\n  <ssl_card_number>4000000000000002</ssl_card_number>\n  <ssl_result>0</ssl_result>\n  <ssl_txn_id>121024ED4-221E63DC-F5E7-4E04-AA95-B28B9E344B3E</ssl_txn_id>\n  <ssl_avs_response> </ssl_avs_response>\n  <ssl_approval_code>401527</ssl_approval_code>\n  <ssl_email></ssl_email>\n  <ssl_amount>2.00</ssl_amount>\n  <ssl_avs_zip>12345</ssl_avs_zip>\n  <ssl_txn_time>10/12/2024 01:44:40 PM</ssl_txn_time>\n  <ssl_exp_date>1230</ssl_exp_date>\n  <ssl_card_short_description>VISA</ssl_card_short_description>\n  <ssl_customer_code></ssl_customer_code>\n  <ssl_country></ssl_country>\n  <ssl_card_type>CREDITCARD</ssl_card_type>\n  <ssl_transaction_type>VOID</ssl_transaction_type>\n  <ssl_salestax></ssl_salestax>\n  <ssl_avs_address>123 Main St</ssl_avs_address>\n  <ssl_account_balance>0.00</ssl_account_balance>\n  <ssl_state></ssl_state>\n  <ssl_city></ssl_city>\n  <ssl_result_message>APPROVAL</ssl_result_message>\n  <ssl_first_name>John</ssl_first_name>\n  <ssl_invoice_number></ssl_invoice_number>\n  <ssl_cvv2_response></ssl_cvv2_response>\n</txn>\n"
                    },
                    "CC_Delete": {
                      "summary": "Credit Card Delete",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?> \n<txn>\n  <ssl_issuer_response>00</ssl_issuer_response>\n  <ssl_card_number>4000000000000002</ssl_card_number>\n  <ssl_result>0</ssl_result>\n  <ssl_txn_id>121024ED4-221E63DC-F5E7-4E04-AA95-B28B9E344B3E</ssl_txn_id>\n  <ssl_amount>2.00</ssl_amount>\n  <ssl_txn_time>10/12/2024 01:44:40 PM</ssl_txn_time>\n  <ssl_exp_date>1230</ssl_exp_date>\n  <ssl_card_short_description>VISA</ssl_card_short_description>\n  <ssl_card_type>CREDITCARD</ssl_card_type>\n  <ssl_transaction_type>DELETE</ssl_transaction_type>\n  <ssl_result_message>APPROVAL</ssl_result_message>\n</txn>\n"
                    },
                    "CC_Delete_Force": {
                      "summary": "Credit Card Delete (Force)",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?> \n<txn>\n  <ssl_transaction_type>DELETE</ssl_transaction_type>\n  <ssl_card_number>4000000000000002</ssl_card_number>\n  <ssl_result>0</ssl_result>\n  <ssl_txn_id>100424C55-E64ACE59-624C-4642-804D-C0D5790E1192</ssl_txn_id>\n  <ssl_amount>5.00</ssl_amount>\n  <ssl_txn_time>04/10/2024 04:14:50 PM</ssl_txn_time>\n  <ssl_exp_date>0325</ssl_exp_date>\n  <ssl_result_message>APPROVAL</ssl_result_message>\n  <ssl_card_short_description>VISA</ssl_card_short_description>\n  <ssl_card_type>CREDITCARD</ssl_card_type>\n</txn>\n"
                    },
                    "CC_Balinquiry": {
                      "summary": "Credit Card Balance Inquiry",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?> \n<txn>\n  <ssl_issuer_response>00</ssl_issuer_response>\n  <ssl_card_number>4000000000000002</ssl_card_number>\n  <ssl_result>0</ssl_result>\n  <ssl_txn_id>200324C55-27E69C3A-B704-4F5C-973E-ED49EF55946B</ssl_txn_id>\n  <ssl_avs_response> </ssl_avs_response>\n  <ssl_approval_code>273201</ssl_approval_code>\n  <ssl_txn_time>03/20/2024 10:02:12 AM</ssl_txn_time>\n  <ssl_exp_date>1234</ssl_exp_date>\n  <ssl_card_short_description>VISA</ssl_card_short_description>\n  <ssl_card_type>CREDITCARD</ssl_card_type>\n  <ssl_transaction_type>INQUIRY</ssl_transaction_type>\n  <ssl_avs_address/>\n  <ssl_account_balance>0.00</ssl_account_balance>\n  <ssl_result_message>APPROVAL</ssl_result_message>\n  <ssl_partner_app_id>01</ssl_partner_app_id>\n</txn>\n"
                    },
                    "CC_AddRecurring": {
                      "summary": "Credit Card Add Recurring",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<txn>\n  <ssl_start_payment_date>01/31/2022</ssl_start_payment_date>\n  <ssl_transaction_type>CCADDRECURRING</ssl_transaction_type>\n  <ssl_card_number>4000000000000002</ssl_card_number>\n  <ssl_exp_date>1230</ssl_exp_date>\n  <ssl_amount>1.50</ssl_amount>\n  <ssl_next_payment_date>01/31/2022</ssl_next_payment_date>\n  <ssl_billing_cycle>MONTHLY</ssl_billing_cycle>\n  <ssl_result_message>SUCCESS</ssl_result_message>\n  <ssl_recurring_id>AA484C3-8E5D1201-A05E-824D-9DAD-E3534E83F078</ssl_recurring_id>\n  <ssl_number_of_payments>0</ssl_number_of_payments>\n  <ssl_skip_payment>N</ssl_skip_payment>\n  <ssl_recurring_batch_count>65</ssl_recurring_batch_count>\n</txn>\n"
                    },
                    "CC_UpdateRecurring": {
                      "summary": "Credit Card Update Recurring",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<txn>\n  <ssl_start_payment_date>01/31/2022</ssl_start_payment_date>\n  <ssl_transaction_type>CCUPDATERECURRING</ssl_transaction_type>\n  <ssl_card_number>4000000000000002</ssl_card_number>\n  <ssl_exp_date>1230</ssl_exp_date>\n  <ssl_amount>1.50</ssl_amount>\n  <ssl_next_payment_date>01/31/2022</ssl_next_payment_date>\n  <ssl_billing_cycle>MONTHLY</ssl_billing_cycle>\n  <ssl_result_message>SUCCESS</ssl_result_message>\n  <ssl_recurring_id>AA484C3-8E5D1201-A05E-824D-9DAD-E3534E83F078</ssl_recurring_id>\n  <ssl_number_of_payments>0</ssl_number_of_payments>\n  <ssl_skip_payment>N</ssl_skip_payment>\n  <ssl_recurring_batch_count>65</ssl_recurring_batch_count>\n</txn>\n"
                    },
                    "CC_DeleteRecurring": {
                      "summary": "Credit Card Delete Recurring",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<txn>\n  <ssl_transaction_type>CCDELETERECURRING</ssl_transaction_type>\n  <ssl_result_message>SUCCESS</ssl_result_message>\n  <ssl_recurring_id>AA484C3-8E5D1201-A05E-824D-9DAD-E3534E83F078</ssl_recurring_id>\n  <ssl_recurring_batch_count>65</ssl_recurring_batch_count>\n</txn>\n"
                    },
                    "CC_SubmitRecurring": {
                      "summary": "Credit Card Submit Recurring",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<txn>\n  <ssl_cit_mit_cof_indicator>M01</ssl_cit_mit_cof_indicator>\n  <ssl_issuer_response>00</ssl_issuer_response>\n  <ssl_billing_cycle>DAILY</ssl_billing_cycle>\n  <ssl_card_number>4000000000000002</ssl_card_number>\n  <ssl_oar_data>010012955803191834350000047554200000000000238801407918129558</ssl_oar_data>\n  <ssl_result>0</ssl_result>\n  <ssl_txn_id>190324C55-0DD675C0-42ED-4A32-BABD-894044448FF6</ssl_txn_id>\n  <ssl_approval_code>238801</ssl_approval_code>\n  <ssl_amount>1.00</ssl_amount>\n  <ssl_txn_time>03/19/2024 01:34:35 PM</ssl_txn_time>\n  <ssl_recurring_id>AA484C3-8E5D1201-A05E-824D-9DAD-E3534E83F078</ssl_recurring_id>\n  <ssl_exp_date>1249</ssl_exp_date>\n  <ssl_card_short_description>VISA</ssl_card_short_description>\n  <ssl_card_type>CREDITCARD</ssl_card_type>\n  <ssl_transaction_type>CCRECURRINGSALE</ssl_transaction_type>\n  <ssl_start_payment_date>12/23/2024</ssl_start_payment_date>\n  <ssl_next_payment_date>12/23/2024</ssl_next_payment_date>\n  <ssl_recurring_batch_count>33</ssl_recurring_batch_count>\n  <ssl_account_balance>0.00</ssl_account_balance>\n  <ssl_ps2000_data>A7540796687565375100A</ssl_ps2000_data>\n  <ssl_result_message>APPROVAL</ssl_result_message>\n  <ssl_skip_payment>N</ssl_skip_payment>\n  <ssl_partner_app_id>01</ssl_partner_app_id>\n</txn>\n"
                    },
                    "CC_AddInstall": {
                      "summary": "Credit Card Add Installment",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<txn>\n  <ssl_start_payment_date>01/31/2022</ssl_start_payment_date>\n  <ssl_transaction_type>CCADDINSTALL</ssl_transaction_type>\n  <ssl_card_number>4000000000000002</ssl_card_number>\n  <ssl_exp_date>1230</ssl_exp_date>\n  <ssl_amount>1.50</ssl_amount>\n  <ssl_next_payment_date>01/31/2022</ssl_next_payment_date>\n  <ssl_billing_cycle>MONTHLY</ssl_billing_cycle>\n  <ssl_result_message>SUCCESS</ssl_result_message>\n  <ssl_installment_id>AA484C3-8E5D1201-A05E-824D-9DAD-E3534E83F078</ssl_installment_id>\n  <ssl_number_of_payments>0</ssl_number_of_payments>\n  <ssl_skip_payment>N</ssl_skip_payment>\n  <ssl_recurring_batch_count>66</ssl_recurring_batch_count>\n</txn>\n"
                    },
                    "CC_UpdateInstall": {
                      "summary": "Credit Card Update Installment",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<txn>\n  <ssl_start_payment_date>01/31/2022</ssl_start_payment_date>\n  <ssl_transaction_type>CCUPDATEINSTALL</ssl_transaction_type>\n  <ssl_card_number>4000000000000002</ssl_card_number>\n  <ssl_exp_date>1230</ssl_exp_date>\n  <ssl_amount>1.50</ssl_amount>\n  <ssl_next_payment_date>01/31/2022</ssl_next_payment_date>\n  <ssl_billing_cycle>MONTHLY</ssl_billing_cycle>\n  <ssl_result_message>SUCCESS</ssl_result_message>\n  <ssl_installment_id>AA484C3-8E5D1201-A05E-824D-9DAD-E3534E83F078</ssl_installment_id>\n  <ssl_number_of_payments>0</ssl_number_of_payments>\n  <ssl_skip_payment>N</ssl_skip_payment>\n  <ssl_recurring_batch_count>66</ssl_recurring_batch_count>\n</txn>\n"
                    },
                    "CC_DeleteInstall": {
                      "summary": "Credit Card Delete Installment",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<txn>\n  <ssl_transaction_type>CCDELETEINSTALL</ssl_transaction_type>\n  <ssl_result_message>SUCCESS</ssl_result_message>\n  <ssl_installment_id>AA484C3-8E5D1201-A05E-824D-9DAD-E3534E83F078</ssl_installment_id>\n  <ssl_recurring_batch_count>65</ssl_recurring_batch_count>\n</txn>\n"
                    },
                    "CC_SubmitInstall": {
                      "summary": "Credit Card Submit Installment",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<txn>\n  <ssl_number_of_payments>1</ssl_number_of_payments>\n  <ssl_amount>1.00</ssl_amount>\n  <ssl_card_short_description>VISA</ssl_card_short_description>\n  <ssl_get_token>N</ssl_get_token>\n  <ssl_start_payment_date>12/23/2024</ssl_start_payment_date>\n  <ssl_recurring_batch_count>34</ssl_recurring_batch_count>\n  <ssl_ps2000_data>V7540796793374375100A</ssl_ps2000_data>\n  <ssl_cit_mit_cof_indicator>M01</ssl_cit_mit_cof_indicator>\n  <ssl_issuer_response>00</ssl_issuer_response>\n  <ssl_billing_cycle>DAILY</ssl_billing_cycle>\n  <ssl_card_number>4000000000000002</ssl_card_number>\n  <ssl_oar_data>010012895003191852120000047554200000000000239811407918128950</ssl_oar_data>\n  <ssl_result>0</ssl_result>\n  <ssl_txn_id>190324C55-0BBA598D-615D-48E0-8509-CB5CE5363C63</ssl_txn_id>\n  <ssl_avs_response> </ssl_avs_response>\n  <ssl_approval_code>239811</ssl_approval_code>\n  <ssl_total_installments>12</ssl_total_installments>\n  <ssl_txn_time>03/19/2024 01:52:12 PM</ssl_txn_time>\n  <ssl_exp_date>1249</ssl_exp_date>\n  <ssl_card_type>CREDITCARD</ssl_card_type>\n  <ssl_installment_id>190324C55-CC6FC0A7-3C7A-43D2-A87D-5AB668ACF58C</ssl_installment_id>\n  <ssl_transaction_type>CCINSTALLSALE</ssl_transaction_type>\n  <ssl_next_payment_date>12/23/2024</ssl_next_payment_date>\n  <ssl_account_balance>0.00</ssl_account_balance>\n  <ssl_result_message>APPROVAL</ssl_result_message>\n  <ssl_skip_payment>N</ssl_skip_payment>\n  <ssl_partner_app_id>01</ssl_partner_app_id>\n</txn>\n"
                    },
                    "CC_Get_Token": {
                      "summary": "Get Token (with Verification)",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<txn>\n  <ssl_cit_mit_cof_indicator>M01</ssl_cit_mit_cof_indicator>\n  <ssl_last_name>Smith</ssl_last_name>\n  <ssl_company></ssl_company>\n  <ssl_phone></ssl_phone>\n  <ssl_card_number>4000000000000002</ssl_card_number>\n  <ssl_merchant_txn_id></ssl_merchant_txn_id>\n  <ssl_result>0</ssl_result>\n  <ssl_txn_id>my_txn_id</ssl_txn_id>\n  <ssl_avs_response>Z</ssl_avs_response>\n  <ssl_approval_code>000000</ssl_approval_code>\n  <ssl_email></ssl_email>\n  <ssl_avs_zip>12345</ssl_avs_zip>\n  <ssl_txn_time>09/19/2030 03:42:58 PM</ssl_txn_time>\n  <ssl_description></ssl_description>\n  <ssl_vendor_id>My ID</ssl_vendor_id>\n  <ssl_exp_date>1230</ssl_exp_date>\n  <ssl_card_short_description>VISA</ssl_card_short_description>\n  <ssl_address2></ssl_address2>\n  <ssl_get_token>N</ssl_get_token>\n  <ssl_token_response>SUCCESS</ssl_token_response>\n  <ssl_credit_surcharge_amount></ssl_credit_surcharge_amount>\n  <ssl_customer_code></ssl_customer_code>\n  <ssl_country></ssl_country>\n  <ssl_card_type>CREDITCARD</ssl_card_type>\n  <ssl_token_format>N</ssl_token_format>\n  <ssl_token_provider>V</ssl_token_provider>\n  <ssl_transaction_type>GETTOKEN</ssl_transaction_type>\n  <ssl_salestax></ssl_salestax>\n  <ssl_avs_address>123 Main St</ssl_avs_address>\n  <ssl_customer_id></ssl_customer_id>\n  <ssl_account_balance>0.00</ssl_account_balance>\n  <ssl_ps2000_data>my_ps_data</ssl_ps2000_data>\n  <ssl_state></ssl_state>\n  <ssl_city></ssl_city>\n  <ssl_result_message>APPROVAL</ssl_result_message>\n  <ssl_first_name></ssl_first_name>\n  <ssl_invoice_number></ssl_invoice_number>\n  <ssl_cvv2_response>M</ssl_cvv2_response>\n  <ssl_token>my_token</ssl_token>\n  <ssl_add_token_response>Card Added</ssl_add_token_response>\n</txn>  \n"
                    },
                    "Token_Generate": {
                      "summary": "Token Generate",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<txn>\n  <ssl_cit_mit_cof_indicator>M01</ssl_cit_mit_cof_indicator>\n  <ssl_last_name>Smith</ssl_last_name>\n  <ssl_company></ssl_company>\n  <ssl_phone></ssl_phone>\n  <ssl_card_number>4000000000000002</ssl_card_number>\n  <ssl_merchant_txn_id></ssl_merchant_txn_id>\n  <ssl_result>0</ssl_result>\n  <ssl_txn_id>my_txn_id</ssl_txn_id>\n  <ssl_avs_response>Z</ssl_avs_response>\n  <ssl_approval_code>000000</ssl_approval_code>\n  <ssl_email></ssl_email>\n  <ssl_avs_zip>12345</ssl_avs_zip>\n  <ssl_txn_time>09/19/2030 03:42:58 PM</ssl_txn_time>\n  <ssl_description></ssl_description>\n  <ssl_vendor_id>My ID</ssl_vendor_id>\n  <ssl_exp_date>1230</ssl_exp_date>\n  <ssl_card_short_description>VISA</ssl_card_short_description>\n  <ssl_address2></ssl_address2>\n  <ssl_get_token>N</ssl_get_token>\n  <ssl_token_response>SUCCESS</ssl_token_response>\n  <ssl_credit_surcharge_amount></ssl_credit_surcharge_amount>\n  <ssl_customer_code></ssl_customer_code>\n  <ssl_country></ssl_country>\n  <ssl_card_type>CREDITCARD</ssl_card_type>\n  <ssl_token_format>N</ssl_token_format>\n  <ssl_token_provider>V</ssl_token_provider>\n  <ssl_transaction_type>GETTOKEN</ssl_transaction_type>\n  <ssl_salestax></ssl_salestax>\n  <ssl_avs_address>123 Main St</ssl_avs_address>\n  <ssl_customer_id></ssl_customer_id>\n  <ssl_account_balance>0.00</ssl_account_balance>\n  <ssl_state></ssl_state>\n  <ssl_city></ssl_city>\n  <ssl_result_message>APPROVAL</ssl_result_message>\n  <ssl_first_name></ssl_first_name>\n  <ssl_invoice_number></ssl_invoice_number>\n  <ssl_cvv2_response>M</ssl_cvv2_response>\n  <ssl_token>my_token</ssl_token>\n  <ssl_add_token_response>Card Added</ssl_add_token_response>\n</txn>\n"
                    },
                    "Token_Update": {
                      "summary": "Token Update",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<txn>\n  <ssl_card_type>VISA</ssl_card_type>\n  <ssl_result>0</ssl_result>\n  <ssl_token_response>SUCCESS</ssl_token_response>\n  <ssl_token>1111111111110055</ssl_token>\n  <ssl_card_number>4000000000000002</ssl_card_number>\n  <ssl_exp_date>1226</ssl_exp_date>\n  <ssl_company>Elavon</ssl_company>\n  <ssl_customer_id/>\n  <ssl_first_name/>\n  <ssl_last_name/>\n  <ssl_avs_address>Test Address</ssl_avs_address>\n  <ssl_address2>Second Address</ssl_address2>\n  <ssl_city>Atlanta</ssl_city>\n  <ssl_state>GA</ssl_state>\n  <ssl_avs_zip>30000</ssl_avs_zip>\n  <ssl_country>USA</ssl_country>\n  <ssl_phone>1231231234</ssl_phone>\n  <ssl_email>your_email</ssl_email>\n  <ssl_description>Test Description</ssl_description>\n  <ssl_exclude_account_update>Y</ssl_exclude_account_update>\n  <ssl_user_id>user_id</ssl_user_id>\n  <ssl_token_response>SUCCESS</ssl_token_response>\n  <ssl_result>0</ssl_result>\n</txn>\n"
                    },
                    "Token_Query": {
                      "summary": "Token Query",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<txn>\n  <ssl_token>1111111111112221</ssl_token>\n  <ssl_voltage_token>1111111111112221</ssl_voltage_token>\n  <ssl_account_number>4159********2221</ssl_account_number>\n  <ssl_exp_date>1226</ssl_exp_date>\n  <ssl_card_type>VISA</ssl_card_type>\n  <ssl_company>Elavon</ssl_company>\n  <ssl_customer_id/>\n  <ssl_first_name/>\n  <ssl_last_name/>\n  <ssl_avs_address>Test Address</ssl_avs_address>\n  <ssl_address2>Second Address</ssl_address2>\n  <ssl_avs_zip>30000</ssl_avs_zip>\n  <ssl_city>Atlanta</ssl_city>\n  <ssl_state>GA</ssl_state>\n  <ssl_country>USA</ssl_country>\n  <ssl_phone>1234567890</ssl_phone>\n  <ssl_email>your_email</ssl_email>\n  <ssl_description>Test Description</ssl_description>\n  <ssl_user_id>user_id</ssl_user_id>\n  <ssl_result>0</ssl_result>\n  <ssl_token_response>SUCCESS</ssl_token_response>\n  <ssl_token_provider>V</ssl_token_provider>\n  <ssl_token_format>Numeric</ssl_token_format>\n</txn>\n"
                    },
                    "Token_Delete": {
                      "summary": "Token Delete",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<txn>\n  <ssl_token>1111111111110055</ssl_token>\n  <ssl_card_number>4000000000000002</ssl_card_number>\n  <ssl_exp_date>1226</ssl_exp_date>\n  <ssl_card_type>VISA</ssl_card_type>\n  <ssl_token_response>SUCCESS</ssl_token_response>\n  <ssl_result_message>Approved</ssl_result_message>\n  <ssl_result>0</ssl_result>\n</txn>                                  \n"
                    },
                    "ApplePay_Session": {
                      "summary": "Apple Pay on the Web Session",
                      "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n  <txn>\n    <applepaySession>\n        {\"epochTimestamp\":1557932006440,\"expiresAt\":1557935606440,\"merchantSessionIdentifier\":\"SSHA0B20BE3B7E645EFB8EBAE91F81069C0_916523AAED1343F5BC5815E12BEE9250AFFDC1A17C46B0DE5A943F0F94927C24\",\"nonce\":\"465a2042\",\"merchantIdentifier\":\"2B61E0688F2FC23911AC584F4FEFA52AA675CA1C34A51658BCCC0ACE07450822\",\"domainName\":\"ex.com\",\"displayName\":\"Merchant Name\",\"signature\":\"308006092a864886f70d0101...18ffdae3ecb000000000000\"}\n    </applepaySession>\n  </txn>                 \n"
                    },
                    "ApplePay_Transaction": {
                      "summary": "Apple Pay on the Web Sale",
[...]
